
<!DOCTYPE html>
<html>
  <head>
    <title>Customer Quote</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
    <br><br><br>
      
      <% image = Image.where(florist_id: session["found_florist_id"]).where(image_type: "florist").first%> 
      <% if image != nil %>
      <h1 align="middle"><img align="middle" src="<%= image_data_path(image.id, image.extension) %>" width="100" height="100" class="img-polaroid" align="left"/></b></h1>
      <%end%>
      <h1 align="middle"><%= Florist.where(id: @event.florist_id).first.name%></h1><br><br>
      <h2 align="middle"> A Floral Design Proposal for <%= @event.customer.name%> </h2>  
      <h2 align="middle"> "<%= @event.name%>" </h2>
      <h2 align="middle"> <%= @event.date_of_event.to_formatted_s(:long_ordinal)%> </h2><br><br>  
      <ul class="nails">  
        <% for each in @specifications %>
          <% designed_products = DesignedProduct.where(specification_id: each.id).where(image_in_quote: 1).where(image_on_cover: 1).where("product_qty > 0").order("id")%>
          <% for designed_product in designed_products%>   
            <% image = Image.where(product_id: designed_product.product_id).where(image_type: "product").first%>
            <li>
              <div class="thumbnail">     
                <img style="width: 65px; height: 65px" src="<%= image_data_path(image.id, image.extension) %>">
              </div>
            </li>
          <%end%>
          <% for image in each.images.order("id") %>
            <%if image.on_quote_cover != nil%>
              <li>
                <div class="thumbnail" >    
                  <img style="width: 65px; height: 65px" src="<%= image_data_path(image.id, image.extension) %>">
                </div>
              </li>
            <%end%>
          <%end%> 
        <%end%>    
    </ul>

<br><br><br><br> 

      <p align="middle"><%=@event.employee.name%><br>
        <%=@event.employee.w_phone%><br>
        <%=@event.employee.c_phone%><br>
        <%=@event.employee.email%><br>
    
    <div class="page-break"></div>
    <hr/>
      
      <h3> Event Details</h3>   
        <div class="row-fluid">
          <div class="span3">  
            <label><b>Quote Name: </b>
            <%= @event.quote.quote_name%><p></p>
            <label><b>Locations(s):</b>
            <p><%= @event.locations%>
            <div class="row-fluid">
              <div class="span4">
                <label><b>Event Date: </b>
                <%=@event.date_of_event%> 
              </div>
              <div class="span4">
                <b> Event Time: </b>   
                <%=@event.time%>
              </div>
              <div class="span4">
                <b>Setup Time:</b> 
                <%=@event.delivery_setup_time%>
              </div>
            </div>
          </div>                       
          <div class="span3">
            <p><label> <b>Colors:</b>
              <%= @event.color_palette%></p>
            <p><label><b> Flower Types:</b>
              <%=@event.flower_types%>
          </div>
          <div class="span3">
            <p><label><b>Feel/Theme:</b>
              <%= @event.feel_of_day%></p>
            <p><label><b>Attire:</b> 
              <%= @event.attire%>
          </div>
          <div class="span2 ">
            <p><label><b>Coordinator:</b>
              <%= @event.coordinator%></p>
            <label><b>Photographer:</b>
              <%=@event.photographer%>    
          </div>
        </div>

    <div class="page-break"></div>
    <hr />    
   
    <h3> Arrangements for Event </h3>  
      <table class="table table-striped table-bordered">      
        <tr>      
          <th class="span2">Item Name</th>
          <th class="span1">Quantity</th>
          <th class="span10">Specifications</th> 
          <th class="span1">Per Item Price<i>+</i></th>
          <th class="span2">Total</th>
        </tr>
        <% for each in @specifications %>
          <tr>
            <td> <%=each.item_name%></td> 
            <td> <%=(each.item_quantity / 100).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
            <td> <%=raw(each.item_specs.gsub("\n", "<br>"))%>
            
           
           
            
            <br>
            
            <ul class="nails2">
             <% designed_products = DesignedProduct.where(specification_id: each.id).where(image_in_quote: 1).where("product_qty > 0").order("id")%>
            <% for designed_product in designed_products%>
              
                <% image = Image.where(product_id: designed_product.product_id).where(image_type: "product").first%>
                <% if image != nil %>
                <li>
                <div class="thumbnail">    
                  <img style="width: 100px; height: 100px" src="<%= image_data_path(image.id, image.extension) %>">              
                 <div class="display_name"><%=designed_product.product.name%></div>
                <%end%>
                <%end%>
            
            
            
                           
            
            
            
            <% for image in each.images %>
              <li>
                <div class="thumbnail">    
                  <img style="width: 100px; height: 100px" src="<%= image_data_path(image.id, image.extension) %>">
                 <div class="display_name"><%=""%><br></div>
                </div>
              </li>
            <%end%> 
            </ul>
            </td>
            <td>$ <%= ((each.quoted_price / 100.round(0)) / (each.item_quantity / 100 .round(0))).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </td>
            <td>$ <%=(each.quoted_price / 100.round(0)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>            
          </tr>
        
        <%end%>
      </table>
      <th><b>Total Quoted Price: $       
      <%= sprintf("%.2f" , @event.quote.total_price / 100.round(2)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></b> <br><br>
      <p> Note: <br>Total quoted price does not reflect any applicable state and local taxes.<br> + Per Item Prices are rounded to the nearest dollar.

    <div class="page-break"></div>
    <hr />  
    <br><br>
      <p> I agree to the terms and conditions of the contract.  This quote once executed will serve as my order form.</p>
    <br>
    <p><b> Name: <%=@event.customer.name%> 
    <br><br><br>
   
     Signature: _____________________________    <br><br><br>
   
     Date: __________________________________ <br>
    </p>
   </div>
  </body>
</html>
 