
<!DOCTYPE html>
<html>
  <head>
    <title>Quote<%=@event.quote.quote_style%>-<%=@event.name.gsub("Wedding", "...")%></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body class="user_choice" >
    <div class="container" >
    <br><br><br><br><br>

      
       <%if Florist.where(id: session["found_florist_id"]).first.quote_language == nil%>
        <%=quote_language = "NOTE:  FLORIST.... AS PART OF YOUR FIRST TIME SETUP, YOU MUST CREATE THE QUOTE LANGUAGE OR SAVE THE DEFAULT QUOTE LANGUAGE BEFORE GENERATING A CUSTOMER QUOTE.  PERFORM THIS TASK BY CLICKING ON THE \"OTHER\" LINK IN THE NAVIGATION BAR."%>
      <%else%>
        <%quote_language = Florist.where(id: session["found_florist_id"]).first.quote_language%>
      <%end%>
        
      
      
      <% image = Image.where(florist_id: session["found_florist_id"]).where(image_type: "florist").first%> 
      <% if image != nil %>
      <h2 align="middle"><img align="middle" src="<%= image_data_path(image.id, image.extens) %>" width="240" height="140"/></h2><br>
      <%end%>
      <h3 align="middle"> A Floral Design Proposal for <%= @event.customer.name%> </h3>  
      <h3 align="middle"> "<%= @event.name%>" </h3>
      <h3 align="middle"> <%= @event.date_of_event.to_formatted_s(:long_ordinal)%> </h3><br><br>  
      <h3 align="middle">
      <ul class="nails" >  
        <% for each in @specifications %>
          <% designed_products = DesignedProduct.where(specification_id: each.id).where(image_in_quote: 1).where(image_on_cover: 1).where("product_qty > 0").order("id")%>
          <% for designed_product in designed_products%>   
            <% image = Image.where(product_id: designed_product.product_id).where(image_type: "product").first%>
            <li>
              <div class="thumbnail">     
                <img class="image_size" src="<%= image_data_path(image.id, image.extens) %>">
              </div>
            </li>
          <%end%>
          <% for image in each.images.where("on_quote_cover is not null").order("id") %>
              <li>
                <div class="thumbnail" >    
                  <img class="image_size" src="<%= image_data_path(image.id, image.extens) %>">
                </div>
              </li>
          <%end%> 
        <%end%>    
    &nbsp&nbsp&nbsp</ul>
    </h3>

<br><br><br>

      <div align="middle">
        <%=@event.employee.name%>&nbsp<br>
        work: <%=@event.employee.w_phone%>&nbsp<br>
        cell: <%=@event.employee.c_phone%>&nbsp<br>
        <%=@event.employee.email%>&nbsp<br>
      </div>
    
    <div class="page-break"></div>
      
      <br>
      <h3><%= @event.quote.quote_name%></h3>   
      <h4>Event Details</h4>
      
      
         <table class="table" style="background-color: #F2F2EB">
    
       <tr>
          <td style="vertical-align:top" class="span4">
          <b>Contact: </b> <%= @event.customer.name%> <br>
          <b>Location(s): </b><%= @event.locations%> <br>
          <b>Event Date: </b><%=@event.date_of_event.to_formatted_s(:long_ordinal)%><br> 
          <b> Event Time: </b> <%=@event.time%>&nbsp&nbsp&nbsp&nbsp
          <b>Setup Time:</b> <%=@event.delivery_setup_time%>
          </td>
          <td style="vertical-align:top" class="span4">
          <b>Color Preferences:</b> <%=@event.color_palette%><br>
          <b>Flower Preferences:</b> <%=@event.flower_types%><br>
          <b>Attire:</b> <%=@event.attire%>
          </td>
          <td style="vertical-align:top" class="span3">    
            <b>Coordinator:   </b><%=@event.coordinator%><br>
            <b>Photographer: </b><%=@event.photographer%>    
          </td>
       </tr>
       </table>
       
       <%if @event.other_notes != nil && @event.other_notes != ""%> 
        <table class="table" style="background-color: #F2F2EB">
          <tr>
            <td>
              <b>Other Details:</b><br>
              <%= raw(@event.other_notes.gsub("\n", "<br>"))%> 
            </td>
          </tr>
        </table>
    
      <%end%>

      
      
      
      
      
      
      
         
    <h4> Arrangements for Event </h4>  
      <table class="table table-striped">      
        <thead style="vertical-align:bottom">
        <tr>      
          <th class="span12">Description Details</div></th>
         
          <th style="text-align:center">Total</th>
        </tr>
        </thead>
        <% for each in @specifications %>
          <tr>
            <td> <b><%=each.item_name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>  <i> ( <%=(each.item_quantity / 100).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> @ $<%= ((each.quoted_price / 100.round(0)) / (each.item_quantity / 100 .round(0))).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> per item<small>+</small> )</i><br>
            
           <%=raw(each.item_specs.gsub("\n", "<br>"))%>
            
           
           <div class="row-fluid"> 
            <ul class="nails2">
            
            <%if @event.show_product_image == 1%>
             <% designed_products = DesignedProduct.where(specification_id: each.id).where(image_in_quote: 1).where("product_qty > 0").order("id")%>
            <% for designed_product in designed_products%>
              
                <% image = Image.where(product_id: designed_product.product_id).where(image_type: "product").first%>
                <% if image != nil %>
                <li class="image_align">
                <div class="thumbnail">    
                  <img class="image_size" src="<%= image_data_path(image.id, image.extens) %>">              
                </div> 
                  <% if @event.show_display_name == 1 %>
                  <% product = Product.where(id: designed_product.product.id).first%>
                    <%if product.display_name == "" || product.display_name == nil %>
                      <%display_name = product.name%>
                    <%else%>
                      <%display_name = product.display_name%>
                    <%end%>
                
                    <div class="display_name"><%=display_name%></div>
                 <%end%>
                <%end%>
                <%end%>
            <%end%>
            
            <% for image in each.images %>
              <li class="image_align">
                <div class="thumbnail">    
                  <img class="image_size" src="<%= image_data_path(image.id, image.extens) %>">
                </div>
                <div class="display_name"><%=image.display_name%></div>
                
              </li>
            <%end%> 
            </ul>
            </td>
             
            
            <td style="text-align:center"><b>$<%=(each.quoted_price / 100.round(0)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </b>           
          </tr>
        
        <%end%>
    <tr>
    <td><b>Total Quoted Price: </b><br> <small>Price does not reflect any applicable state and local taxes.<br> + Per Item Prices are rounded to the nearest dollar.</small>
  
      
      <td style="text-align:center"><b>      
      
      $<%= sprintf("%.2f" , @event.quote.total_price / 100.round(2)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></b>
      </table>
     
     <div class="row-fluid">
    <div class="span12"> 
      
        <%if @event.quote_message != nil && @event.quote_message != ""%>
        <p><b><u>Special Notes:</u></b><br>
          <%=raw(@event.quote_message.gsub("\n", "<br>"))%></p>
        <%else%> <br><br>
        <%end%>
 </div>
      </div>
    <hr />  
      
      <div class="row-fluid">
    <div class="span12"> 
      <p><%= raw(quote_language.gsub("\n", "<br>"))%></p>
      <br><br><br>
      </div>
      </div>
      
   </div>
  </body>
</html>
 