   
    <h3>Customer Edit</h3>
    <%= error_messages_for @customer %>
   
    
    <%= form_tag("/cust_edit") do %>
      <%=label_tag "customer_id", "ID: "%>
      <%=hidden_field_tag "customer_id", @customer.id%> <%=@customer.id%>
    
      <%= label_tag "contact_name", "       Customer Name: *"%>
      <%= text_field_tag "contact_name", @customer.name%>
      <%= label_tag "contact_email", "Email: *"%>
      <%= text_field_tag "contact_email", @customer.email%>
      <%= label_tag "phone1", "Phone (primary):"%>
      <%= text_field_tag "phone1", @customer.phone1%>
      <%= label_tag "phone2", "Phone (other):"%>
      <%= text_field_tag "phone2", @customer.phone2%>
      <br>
      <%= label_tag "groom_name", "Groom Name (if appl.):"%>
      <%= text_field_tag "groom_name", @customer.groom_name%>
      <%= label_tag "groom_phone", "Phone:"%>
      <%= text_field_tag "groom_phone", @customer.groom_phone%>
      <%= label_tag "groom_email", "Email:"%>
      <%= text_field_tag "groom_email", @customer.groom_email%>
      <br>
      <%= label_tag "address", "Address"%>
      <%= text_field_tag "address", @customer.address%>
      <%= label_tag "city", "City:"%>
      <%= text_field_tag "city", @customer.city%>
      <%= label_tag "state", "State:"%>
      <%= text_field_tag "state", @customer.state%>
      <%= label_tag "zip", "Zip:"%>
      <%= text_field_tag "zip", @customer.zip%>
      <br>
      <%=label_tag "company_name", "Company Name (if appl.):"%>
      <%= text_field_tag "company_name", @customer.company_name%>
     
      <%= label_tag "notes", "Customer Notes:"%> 
      <br>
      <%= text_area_tag "notes", @customer.notes, rows: 3, cols: 120%>
      <div class = 'label-spacer'></div>
      <button name= "save" value= "save">Save Updates</button>       
    <br>
    <hr/>

  <h3> Events </h3>
    <%id = @customer.id%>
    <td> <a href="/event_new/<%=id%>"> Create New Event </a> </td>
    <table border='1'>
           
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Quote Name</th>
      <th>Quote Status</th>
      <th>Event Notes</th>
       <th>Designer</th>
      <th>id</th>
      
      <% for event in @customer.events %>
        <tr>      
                      
            <td> <a href="/event_edit/<%=event.id%>"> <%=event.name%> </a></td>
            <td> <%=event.date_of_event%> </td>
             <%if event.quote != nil%>
                    <td><a href="/generate_quote/<%=event.id%>"> <%=event.quote.quote_name%> </a></td>
                    <td><%=event.quote.status%></td>
                 <%else%>
                    <td>No Quote</td>
                    <td>No Quote</td>
                <%end%>
                        
           
            <td> <%=event.notes%> </td>
             <td> <%= event.employee.username %> </td>
              <td> <%=event.id%></td>
            <td> <div class = 'label-spacer'></div> 
              <button name="delete" value= <%=event.id%>>Delete</button></td>
          </tr>
        </tr>
      <%end%>
    </table>
    
    
    
     <%end%>
 