
<!DOCTYPE html>
<html>
  <head>
    <title>Customer Quote</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
    <br><br><br>
      
       <%if Florist.where(id: session["found_florist_id"]).first.quote_language == nil%>
        <%=quote_language = "NOTE:  FLORIST.... AS PART OF YOUR FIRST TIME SETUP, YOU MUST CREATE THE QUOTE LANGUAGE OR SAVE THE DEFAULT QUOTE LANGUAGE BEFORE GENERATING A CUSTOMER QUOTE.  PERFORM THIS TASK BY CLICKING ON THE \"OTHER\" LINK IN THE NAVIGATION BAR."%>
      <%else%>
        <%quote_language = Florist.where(id: session["found_florist_id"]).first.quote_language%>
      <%end%>
        
      
      
      <% image = Image.where(florist_id: session["found_florist_id"]).where(image_type: "florist").first%> 
      <% if image != nil %>
      <h1 align="middle"><img align="middle" src="<%= image_data_path(image.id, image.extens) %>" width="100" height="100" class="img-polaroid" align="left"/></b></h1>
      <%end%>
      <h1 align="middle"><%= Florist.where(id: @event.florist_id).first.name%></h1><br><br>
      <h2 align="middle"> A Floral Design Proposal for <%= @event.customer.name%> </h2>  
      <h2 align="middle"> "<%= @event.name%>" </h2>
      <h2 align="middle"> <%= @event.date_of_event.to_formatted_s(:long_ordinal)%> </h2><br><br>  
      <ul class="nails">  
        <% for each in @specifications %>
          <% designed_products = DesignedProduct.where(specification_id: each.id).where(image_in_quote: 1).where(image_on_cover: 1).where("product_qty > 0").order("id")%>
          <% for designed_product in designed_products%>   
            <% image = Image.where(product_id: designed_product.product_id).where(image_type: "product").first%>
            <li>
              <div class="thumbnail">     
                <img style="width: 65px; height: 65px" src="<%= image_data_path(image.id, image.extens) %>">
              </div>
            </li>
          <%end%>
          <% for image in each.images.order("id") %>
            <%if image.on_quote_cover != nil%>
              <li>
                <div class="thumbnail" >    
                  <img style="width: 65px; height: 65px" src="<%= image_data_path(image.id, image.extens) %>">
                </div>
              </li>
            <%end%>
          <%end%> 
        <%end%>    
    </ul>

<br><br><br><br> 

      <p align="middle"><%=@event.employee.name%><br>
        <%=@event.employee.w_phone%><br>
        <%=@event.employee.c_phone%><br>
        <%=@event.employee.email%><br>
    
    <div class="page-break"></div>
    <hr/>
      
      <h3> Event Details</h3>   
        <div class="row-fluid">
          <div class="span3">  
            <label><b>Quote Name: </b>
            <%= @event.quote.quote_name%><p></p>
            <label><b>Locations(s):</b>
            <p><%= @event.locations%>
            <div class="row-fluid">
              <div class="span4">
                <label><b>Event Date: </b>
                <%=@event.date_of_event%> 
              </div>
              <div class="span4">
                <b> Event Time: </b>   
                <%=@event.time%>
              </div>
              <div class="span4">
                <b>Setup Time:</b> 
                <%=@event.delivery_setup_time%>
              </div>
            </div>
          </div>                       
          <div class="span3">
            <p><label> <b>Colors:</b>
              <%= @event.color_palette%></p>
            <p><label><b> Flower Types:</b>
              <%=@event.flower_types%>
          </div>
          <div class="span3">
            <p><label><b>Feel/Theme:</b>
              <%= @event.feel_of_day%></p>
            <p><label><b>Attire:</b> 
              <%= @event.attire%>
          </div>
          <div class="span2 ">
            <p><label><b>Coordinator:</b>
              <%= @event.coordinator%></p>
            <label><b>Photographer:</b>
              <%=@event.photographer%>    
          </div>
        </div>

    <div class="page-break"></div>
    <hr />    
   
    <h3> Arrangements for Event </h3>  
      <table class="table table-striped">      
        <thead style="vertical-align:bottom">
        <tr>      
          <th class="span12">Description</th>
          
         
          <th >Qty</th>
          <th>Per Item<small>+</small></th>
          <th>Total</th>
        </tr>
        </thead>
        <% for each in @specifications %>
          <tr>
            <td> <b><%=each.item_name%></b><br> 
            
           <%=raw(each.item_specs.gsub("\n", "<br>"))%>
            
           
           <div class="row-fluid"> 
            <ul class="nails2">
             <% designed_products = DesignedProduct.where(specification_id: each.id).where(image_in_quote: 1).where("product_qty > 0").order("id")%>
            <% for designed_product in designed_products%>
              
                <% image = Image.where(product_id: designed_product.product_id).where(image_type: "product").first%>
                <% if image != nil %>
                <li class="image_align">
                <div class="thumbnail">    
                  <img style="width: 100px; height: 100px" src="<%= image_data_path(image.id, image.extens) %>">              
                </div> 
                  <% if @event.show_display_name == 1 %>
                  <% product = Product.where(id: designed_product.product.id).first%>
                    <%if product.display_name == "" || product.display_name == nil %>
                      <%display_name = product.name%>
                    <%else%>
                      <%display_name = product.display_name%>
                    <%end%>
                
                    <div class="display_name"><%=display_name%></div>
                 <%end%>
                <%end%>
                <%end%>
            
            
            
                           
            
            
            
            <% for image in each.images %>
              <li class="image_align">
                <div class="thumbnail">    
                  <img style="width: 100px; height: 100px" src="<%= image_data_path(image.id, image.extens) %>">
                </div>
                <div class="display_name"><%=image.display_name%></div>
                
              </li>
            <%end%> 
            </ul>
            </td>
            <td> <b><%=(each.item_quantity / 100).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></b>
            <td><b>$<%= ((each.quoted_price / 100.round(0)) / (each.item_quantity / 100 .round(0))).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></b> </td>
            <td><b>$<%=(each.quoted_price / 100.round(0)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> </b>           
          </tr>
        
        <%end%>
      </table>
      <th><b>Total Quoted Price: $       
      <%= sprintf("%.2f" , @event.quote.total_price / 100.round(2)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></b> <br><br>
      <p> Note: <br>Total quoted price does not reflect any applicable state and local taxes.<br> + Per Item Prices are rounded to the nearest dollar.

    <div class="page-break"></div>
    <hr />  
    <br>
      
      
      <%= raw(quote_language.gsub("\n", "<br>"))%>
      <br><br><br>
      
      
   </div>
  </body>
</html>
 