
    <br><br><br><br><br><br><br><br><br><br>  
    
    <h1 align="middle"><a href= "/generate_quote/<%=@event.id%>"><img align="middle" src="/images/<%= Florist.where(id: session["found_florist_id"]).first.company_logo%>" width="100" height="100" align="left"/></a><b></h1>
    
    <h1 align="middle"><%= Florist.where(id: session["found_florist_id"]).first.name%></h1><br><br>
  
  
  <h2 align="middle"> A Floral Design Proposal for <%= @event.customer.name%> </h2>
  
  <h2 align="middle"> "<%= @event.name%>" </h2>
  
  <h2 align="middle"> <%= @event.date_of_event%> </h2>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  

  
  <h3> Contact Information</h3>

  <table align="left">
      <tr><td>Name:           <%=@event.customer.name%>       
      <tr><td>Phone:          <%= @event.customer.phone1%>
      <tr><td>Email:          <%= @event.customer.email%>
      <tr><td>Address:        <%= @event.customer.address%> <%= @event.customer.city%> <%= @event.customer.state%>
      </table>
    
  <table align="right">
      <tr><td>Quote Name:     <%=@quote.quote_name%>
      <tr><td>Florist:        <%=@event.employee.name%></td>
      <tr><td>Phone:          <%=@event.employee.w_phone%>
      <tr><td>Email:          <%=@event.employee.email%>
      
  </table> 
    <br>
    <br>
    <br>
    <br>
    <br>

<hr />    

<h3> Details for "<%=@event.name%>"</h3>
  <table align="right">    
      <tr><td>Feel of Day:    <%=@event.feel_of_day%>
      <tr><td>Color Palette:  <%=@event.color_palette%>
      <tr><td>Flower Types:   <%=@event.flower_types%>
      <tr><td>Attire:         <%=@event.attire%>
       <tr><td>Budget:  <%=@event.budget%>
  </table>
  
<table align="left">    
      <tr><td>Event Date:     <%=@event.date_of_event%>
      <tr><td>Event Time:     <%=@event.time%>
      <tr><td>Setup Time:     <%=@event.delivery_setup_time%>
      <tr><td>Coordinator:    <%=@event.coordinator%>
      <tr><td>Photographer:   <%=@event.photographer%>
      <tr><td>Locations(s):   <%=@event.locations%> 
      
</table>
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<tr> Event Notes:    <%= @event.notes%> </tr>

<hr />
     
<h3> Arrangements for Event </h3>  
  
  <table border='1'>
      
<tr>      
      <th>Item Name</th>
      <th>Quantity</th>
      <th size="200">Specifications</th> 
      <th>Price</th>
    </tr>
       
        <% for each in @specifications %>
           <tr>
            <td> <%=each.item_name%></td> 
            <td> <%=(each.item_quantity / 100).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
            <td> <%=each.item_specs%></td>
            <td>$ <%=sprintf("%.2f" , each.quoted_price / 100.round(2)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
      
            
        </tr>
        <%end%>
       </table>
      <th>Total Price: $ <%=sprintf("%.2f" , @event.quote.total_price / 100.round(2)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></th>
      <p> Note: Price does not include applicable state and local taxes.
<br><br>
   <p> I agree to the terms and conditions of the contract.  This quote once executed will server as my order form... blah blah blah.</p>
   <br>
   <p><b> 
   Name:      __________________ <br><br>
   
   Signature: _____________    Date: __________________ 
 </p>
   
 