
<div class="row-fluid">
  <div class="span12">
    <h2>Design Day Details </h2>  
    <h3><a href= "/event_edit/<%=@event.id%>"><%=@event.name%></a>  </h3>
  </div>
</div>
  
<hr/>
    
<div class="row-fluid">
  <div class= "span3">
    <b>Customer: </b><%=@event.customer.name %>
  </div>
  <div class= "span3">
    <b>Phone:</b> <%= @event.customer.phone1%>
  </div>
  <div class= "span3">
     <b>Email: </b><%= @event.customer.email%>
  </div>
  <div class= "span3">
    <b>Florist: </b><%=@event.employee.name%>
  </div>
</div>
  
<hr />
    
<h3> Event Details</h3>   
  <div class="row-fluid">
    <div class="span3">  
      <p><b>Locations(s):</b> <%= @event.locations%></p>
      <div class="row-fluid">
        <div class="span4">
          <b>Event Date: </b><br>
          <%=@event.date_of_event%> 
        </div>
        <div class="span4">
          <b> Event Time: </b><br>   
          <%=@event.time%>
        </div>
        <div class="span4">
          <b>Setup Time:</b> <br>
          <%=@event.delivery_setup_time%>
        </div>
      </div>
    </div>                       
    <div class="span3">
      <p> <b>Colors:</b>
      <%= @event.color_palette%>
      <p><b> Flower Type:</b>
      <%=@event.flower_types%>
    </div>
    <div class="span3">
      <p><b>Feel/Theme:</b>
      <%= @event.feel_of_day%>
      <p><b>Attire:</b> 
      <%= @event.attire%>
    </div>
    <div class="span2 ">
      <p><b>Coordinator:</b>
      <%= @event.coordinator%>
      <p><b>Photographer:</b>
      <%@event.photographer%>    
    </div>
  </div>
  <br> 
   
<b>Florist's Event Notes:</b>  <br>  
<%= raw(@event.notes.gsub("\n", "<br>"))%>
 </tr>

<hr />    
     
<h3> Arrangements & Specifications </h3>  
  
<table class="table table-striped table-hover table-bordered ">      
  <tr>      
    <th class="span2">Item Name</th>
    <th>Quantity</th>
    <th size="200">Specifications</th> 
  </tr>     
  <% for each in @specifications %>
    <tr>
      <td> <%=each.item_name%></td> 
      <td align="middle"> <%=(each.item_quantity / 100).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></td>
      <td><%= raw(each.item_specs.gsub("\n", "<br>"))%></td>
    </tr>
  <%end%>
</table>
<br>
<hr />

<h3> Total Items for the Event </h3>      
  <% for product_type in @list_of_product_types%>
    <p><b><%=product_type%></b>
    <table class="table table-striped table-hover table-condensed table-bordered ">  
      <tr>
        <th class="span6">Products</th>
        <th>Quantity</th>
      </tr>
     
      <tr>
      <%for id in @list_of_product_ids%>
        <% product = Product.where(id: id).where(product_type: product_type).first%>
        <%if product != nil%>
          <td><%=product.name%></td>
          <%designed_products =DesignedProduct.where(event_id: @event.id).where(product_id: id)%>            
          <%count = 0%>
            <%for designed_product in designed_products%>
              <%count = count + ((designed_product.product_qty / 100.0) * (designed_product.specification.item_quantity / 100.0))%>
            <%end%>
          <td align="right"><%=count.round(2).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></td>  
        <%end%>
        </tr>  
      <%end%>
    </table>
  <%end%>

<div class="page-break"></div>   
<hr />     

<h3> Total Items per Arrangement </h3>     
  <% for product_type in @list_of_product_types%>
    <p><b><%=product_type%></b></p>
    <table class="table table-striped table-hover table-condensed table-bordered">
      <tr>
        <th>Products</th>
        <%for specification in @specifications%>
          <th><%=specification.item_name%> (Tot:<%=specification.item_quantity / 100%>)</th>
        <%end%>
      </tr>
      <%for id in @list_of_product_ids%>
        <tr> 
          <% product = Product.where(id: id).where(product_type: product_type).first%>
          <%if product != nil%>
            <td><%=product.name%></td>
            <%for specification in @specifications%>
              <%if DesignedProduct.where(product_id: id).where(specification_id: specification.id).first != nil%>
                <%product_quantity =DesignedProduct.where(product_id: id).where(specification_id: specification.id).first.product_qty / 100.0%>
                <td align="right"><%=product_quantity.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
              <%else%>
                <td align="right"><%= product_quantity = 0%></td>
              <%end%>
            <%end%>
          <%end%>
        </tr>  
      <%end%>
    </table>
  <%end%>   


