<!DOCTYPE html>
<html>
  <head>
    <title>flowerbuds</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
      <body>




 <h2><a href= "/home"><img src="/images/<%=Florist.where(id: session["found_florist_id"]).first.company_logo%>" width="60" height="40" align="left"/></a>Design Day Details<br>   
    <h2><a href= "/event_edit/<%=@event.id%>"><%=@event.name%></a>  </h2>
    <p><b>Customer:</b> <%=@event.customer.name%><br>
    <b>Phone:</b> <%= @event.customer.phone1%>  / <b>Email: </b><%= @event.customer.email%><br>
    
    
    
    <b>Florist: </b><%=@event.employee.name%><br> 
    <b>Total Price:</b> $ <%=sprintf("%.2f" , @event.quote.total_price / 100.0).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></p>
    <hr />    

<h3> Event Details</h3>

<div class="row-fluid">
    <div class="span6">
      <p><b>Event Date:</b><%=@event.date_of_event%><br>
         <b>Event Time:</b><%=@event.time%><br>
         <b>Setup Time:</b><%=@event.delivery_setup_time%><br>
         <b>Location:</b><%=@event.locations%><br>
         </p>
    </div>    
    <div class="span6">
      <p><b>Feel/Theme:</b><%=@event.feel_of_day%><br>
         <b>Colors:</b>  <%=@event.color_palette%><br>
         <b>Flower Preferences:</b><%=@event.flower_types%><br>
         <b>Attire:</b><%=@event.attire%><br>
         <b>Photographer:</b><%=@event.photographer%><br>
         <b>Coordinator:</b><%=@event.coordinator%><br>
         </p>
    </div>
</div>

<tr> <b>Event Notes:</b>    <%= @event.notes%> </tr>

<hr />
     
<h3> Arrangements & Specifications </h3>  
  
  <table class="table table-striped table-hover ">
      
<tr>      
      <th>Item Name</th>
      <th>Quantity</th>
      <th size="200">Specifications</th> 
    </tr>
       
        <% for each in @specifications %>
           <tr>
            <td> <%=each.item_name%></td> 
            <td align="middle"> <%=(each.item_quantity / 100).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></td>
            <td> <%=each.item_specs%></td>
  
        </tr>
        <%end%>
       </table>
     <br>
      <hr />


<h3> Total Items for the Event </h3>  
    
  <% for product_type in @list_of_product_types%>
    <p><b><%=product_type%>
    <table class="table table-striped table-hover ">  
      <tr>
        <th>Products</th>
        <th>Total</th>
      </tr>
     
      <tr>
      <%for id in @list_of_product_ids%>
        <% product = Product.where(id: id).where(product_type: product_type).first%>
        <%if product != nil%>
          <td><%=product.name%></td>
          <%designed_products =DesignedProduct.where(event_id: @event.id).where(product_id: id)%>            
          <%count = 0%>
            <%for designed_product in designed_products%>
              <%count = count + ((designed_product.product_qty / 100.0) * (designed_product.specification.item_quantity / 100.0))%>
            <%end%>
          <td align="right"><%=count.round(2).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></td>  
        <%end%>
        </tr>  
      <%end%>
    </table>
    <br>
  <%end%>
  <hr />     

<h3> Total Items per Arrangement </h3>
     
  <% for product_type in @list_of_product_types%>
    <p><b><%=product_type%>
    <table class="table table-striped table-hover ">
      <tr>
        <th>Products</th>
        <%for specification in @specifications%>
          <th><%=specification.item_name%> (Tot:<%=specification.item_quantity / 100%>)</th>
        <%end%>
      </tr>
     
      <%for id in @list_of_product_ids%>
        <tr> 
        <% product = Product.where(id: id).where(product_type: product_type).first%>
          <%if product != nil%>
            <td><%=product.name%></td>
            <%for specification in @specifications%>
                <%if DesignedProduct.where(product_id: id).where(specification_id: specification.id).first != nil%>
                <%product_quantity =DesignedProduct.where(product_id: id).where(specification_id: specification.id).first.product_qty / 100.0%>
                  <td align="right"><%=product_quantity.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
                <%else%>
                <td align="right"><%= product_quantity = 0%></td>
                <%end%>
            <%end%>
          <%end%>
        </tr>  
      <%end%>
    </table>
    <br>
    <%end%>
    <hr />     

</body>
</html>
