
<h3>Employee Details</h3>
<%= error_messages_for @employee %>
 
  <% if @employee.id == nil
    action = "new"
  else
    action = @employee.id
  end %>
  
  <div class="row-fluid">
  <div class="span6">
  <%=form_tag("/employee_updates/#{action}") do %>
   
   
      
     
    <%if @EMPLOYEES_VIEW_MUST_HAVE.include?(Employee.where(id: session["found_user_id"]).first.admin_rights)%>  
       
      
      <td><%=label_tag "name", "Name: *"%>
      <%=text_field_tag "name", @employee.name%></td> <br>
      <td><%=label_tag "status", "Status: *"%>
      <%= select_tag "status", options_for_select(["Active", "Inactive"], @employee.status)%></td><br>
      <td><%=label_tag "username", "Username: *"%>
      <%= text_field_tag "username", @employee.username%></td><br>
      <td><%=label_tag "email", "Email:"%>
      <%= text_field_tag "email", @employee.email%></td><br>
      <td><%=label_tag "phone_w", "Phone(w):"%>
      <%= text_field_tag "phone_w", @employee.w_phone%></td><br>
      <td><%=label_tag "phone_c", "Phone(c):"%>
      <%= text_field_tag "phone_c", @employee.c_phone%></td><br>
      <td><%=label_tag "admin_rights", "Admin Rights:"%>
      <%= select_tag "admin_rights", options_for_select(@ADMIN_RIGHTS, @employee.admin_rights)%></td><br>
      <br>
      <b>CHANGE / SET PASSWORD:</b> <br>
      <td><%=label_tag "password", "New Password:"%>
      <%= password_field_tag "password"%></td><br>
      <td><%=label_tag "password_confirmation", "Re-confirm New Password:"%>    
      <%=password_field_tag "password_confirmation"%></td><br>
      <a href="/employees">Return to Employees</a><br><br>
    <%else%>
   
        <p><b>Name: </b><%=hidden_field_tag "name", @employee.name%>
        <%=@employee.name%> </p>
        <p><b>Status:</b> <%=hidden_field_tag "status", @employee.status%>
        <%= @employee.status%></p>
        <p><b>Username: *</b>
        <%= hidden_field_tag "username", @employee.username%>
        <%=@employee.username%></p>
        <label><b>Email: </b><br>
        <%= text_field_tag "email", @employee.email%></p>
        <p><b>Phone(w): </b><br>
        <%= text_field_tag "phone_w", @employee.w_phone%></p>
        <p><b>Phone(c): </b><br>
        <%= text_field_tag "phone_c", @employee.c_phone%></p>
        <p><b>Admin Rights: </b>
        <%= hidden_field_tag "admin_rights", @employee.admin_rights%>
        <%= @employee.admin_rights%></p>
        <br> 
        <br>
        <b>CHANGE / SET PASSWORD:</b> <br>
        <td><%=label_tag "password", "New Password:"%>
                <%= password_field_tag "password"%></td><br>
        <td><%=label_tag "password_confirmation", "Re-confirm New Password:"%>    
                <%=password_field_tag "password_confirmation"%></td><br>
        <a href="/home">Return to Homepage</a><br><br>
      
  <%end%>
  <td>  <button class="btn btn-small" name= "action" value= "save">Save</button> </td>

</div>
    

    
  <%end%>
  
  
  
  
      <div class="span6">
  
<div><b>Homepage Image:</b> Max file size = 75kb</>

<% if action == "new"%>
<p> "You must first "save" before adding an image"
<%else%>


<% if Image.where(employee_id: @employee.id).where(image_type: "employee").first == nil %>
  
  <%= form_tag upload_path, multipart: true, class: "dropzone",
        id: "image-upload", style: "min-height:inherit; height:200px" do %>
    <div class="fallback">
      <%= file_field_tag :file, multiple: true %>
      <%= submit_tag "Upload" %>
    </div>
    <%= hidden_field_tag "spec_id", "employee"%>
    <%= hidden_field_tag "emp_id", @employee.id%>
  <% end %>

  <script>
    Dropzone.options.imageUpload = {
    // forceFallback: true, // uncomment to test uploading without Dropzone
      dictFallbackMessage: "Choose an image to upload...",
      success: function() { window.location.reload(); }
    };
  </script>
<%end%>

<%=form_tag "/update_image" do %>

<ul class="row-fluid">
<% image = Image.where(employee_id: @employee.id).where(image_type: "employee").first%>
  <% if image != nil%>
  <li class="span4">
    <div class="thumbnail">    
    <img src="<%= image_data_path(image.id, image.extens) %>">
    </div><br><br>
 
 <div class = 'label-spacer'></div> 
        <button tabindex=-1 class="btn btn-danger btn-mini" name="delete" value= <%=image.id%>>Remove</button>
        
</li>
<%end%>
</ul>

 



<%= hidden_field_tag "spec_id", "employee"%>
<%= hidden_field_tag "emp_id", @employee.id %>

<%end%>
<%end%>

</div>
</div>
</div>

   