<h3>Employees</h3>
<p> Add your employees here.  Assign them the applicable privileges if you wish them to be able to access CenterpieceFMT.  
An individual with <b>"User"</b> privileges may create and edit customers, events, arrangements, and quotes.  As well, they will have "view-only" access
to the "Products" section.  An individual assigned 
<b>"Product Edit Rights"</b> has all the privileges of a "User" plus they may add/edit the Products section.  An individual with <b>"All 
Admin Rights"</b> has <u>all</u> rights, including the ability to add/edit the "Employee" section, delete Events, and revise the legal
language for your quotes in the "Other" section.  <u>(It is highly recommended that only the business owner be assigned "All Admin Rights".)</u>
An individual with user privielegs of <b>"None"</b> will not be able to access CenterpieceFMT but will be "selectable" as a Lead Designer for
an event.  Changing an employee's "status" to <b>"Inactive"</b>  (ie: in the case of an employee termination), will lock the individual
out of the system.  <br> </p>

  <%= form_tag("/employee_post") do %>
    <%if Florist.find(session["found_florist_id"]).employees.where(status: "Active").where("admin_rights not like 'None'").size >= Florist.find(session["found_florist_id"]).plan.number_of_users%>
      <p>You have reached the maximum number of eligible "active" employees with  "user" privileges under your plan. You may add additional employees; however, they will not have "user" rights to access the system.  To add additional users, please contact your CenterpieceFMT representative.</p>
    <%end%>
      <button class="btn btn-small btn-primary" name= "new" value= "new">Add New User</button>
   
    <table class="table table-striped table-hover ">
      <thead style="vertical-align:bottom">
      <th></th>         
        <th>Name</th>
        <th>Username</th>
        <th>Employee <br>Status</th>
        <th>User <br>Privileges</th>
        <th>View <br>Preferences</th>

        <th>Email</th>
        <th>Phone(w)</th>             
        <th>Phone(c)</th>
        <th>Primary POC</th>
        
      </thead>
      <tr>
      
        <% for employee in @employees%> 
          <%if Florist.find(session["found_florist_id"]).employees.where(status: "Active").where("admin_rights not like 'None'").size >= Florist.find(session["found_florist_id"]).plan.number_of_users && employee.status == "Inactive"%>
          <td></td>
          <%else%>
          <td>  <button class="btn btn-small btn-primary" name= "edit" value= <%=employee.id%>>Edit</button> </td>
          <%end%>
          <td><%=hidden_field_tag "name", employee.name%>
              <%=employee.name%></td>
          <td><%= hidden_field_tag "username", employee.username%>
              <%= employee.username %></td>
          <td><%= hidden_field_tag "status", employee.status%>
              <%= employee.status%></td>
          <td><%= hidden_field_tag "admin_rights", employee.admin_rights%>
              <%= employee.admin_rights%></td>
          <td><%= hidden_field_tag "view_pref", employee.view_pref%>
              <%= employee.view_pref%></td>

          <td><%= hidden_field_tag "email", employee.email%>
              <%= employee.email %></td>
          <td><%= hidden_field_tag "phone_w", employee.w_phone%>
              <%= employee.w_phone %></td>
          <td><%= hidden_field_tag "phone_c", employee.c_phone%>
              <%= employee.c_phone%></td>
          <td><%= hidden_field_tag "Primary POC", employee.primary_poc%>
              <%= employee.primary_poc%></td>    
          <%=hidden_field_tag "id", employee.id%>
          
      </tr> 
       <%end%>
    <%end%>
    </table>
