
  <h3>Employee Details</h3>
    
    
    <%= error_messages_for @employee %>
   
    <% if @employee.id == nil
      action = "new"
    else
      action = @employee.id
    end %>
    
    <%=form_tag("/employee_updates/#{action}") do %>
         
   
      <td><%=label_tag "name", "Name: *"%>
          <%=text_field_tag "name", @employee.name%></td> <br>
      <td><%=label_tag "status", "Status: *"%>
          <%= select_tag "status", options_for_select(["Active", "Inactive"], @employee.status)%></td><br>
     <td><%=label_tag "username", "Username: *"%>
          <%= text_field_tag "username", @employee.username%></td><br>
      <td><%=label_tag "password", "Password: *"%>
          <%= text_field_tag "password", @employee.password%></td><br>

      <td><%=label_tag "email", "Email:"%>
          <%= text_field_tag "email", @employee.email%></td><br>
     <td><%=label_tag "phone_w", "Phone(w):"%>
          <%= text_field_tag "phone_w", @employee.w_phone%></td><br>
     <td><%=label_tag "phone_c", "Phone(c):"%>
          <%= text_field_tag "phone_c", @employee.c_phone%></td><br>
     <td><%=label_tag "employee_type", "Type:"%>
          <%= text_field_tag "employee_type", @employee.employee_type%></td><br>
         <td><%=label_tag "admin_rights", "Admin Rights:"%>
         <%= select_tag "admin_rights", options_for_select(["", "admin"], @employee.admin_rights)%></td><br>
 
    <td>  <button name= "action" value= "save">Save</button> </td>
    
    <%end%>
   