<html>
<body>



<p> <a href= "/home"> Return to Home </a> </p>    
    <h1><img src="/images/blue_flower.jpeg" width="50" height="40" align="left"/><b>Employee Edit</h1>
    
    
     <%= form_tag("/employee_post") do %>
     <button name= "new" value= "new">Add New</button>
     
     <table border='1'>
        <th>EmployeeID</th>
        <th>Florist ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Email</th>
        <th>Phone(w)</th>             
        <th>Phone(c)</th>
        <th>Type</th>
        <th>Login Name</th>
        <th>Password</th>
        <th>Admin Rights</th>
        
    
   
      <tr>
      <% for employee in @employees%> 
      <td><%=hidden_field_tag "id", employee.id%>
          <%=employee.id%></td>
      <td><%=employee.florist_id%></td>
      <td><%=hidden_field_tag "name", employee.name%>
          <%=employee.name%></td>
      <td><%= hidden_field_tag "status", employee.status%>
          <%= employee.status%></td>
      <td><%= hidden_field_tag "email", employee.email%>
          <%= employee.email %></td>
     <td><%= hidden_field_tag "phone_w", employee.w_phone%>
          <%= employee.w_phone %></td>
     <td><%= hidden_field_tag "phone_c", employee.c_phone%>
          <%= employee.c_phone%></td>
     <td><%= hidden_field_tag "employee_type", employee.employee_type%>
          <%= employee.employee_type%></td>
     <td><%= hidden_field_tag "username", employee.username%>
          <%= employee.username %></td>
    <td><%= hidden_field_tag "password", employee.password%>
          <%= employee.password %></td>
     <td><%= hidden_field_tag "admin_rights", employee.admin_rights%>
         <%= employee.admin_rights%></td>
   
    <td>  <button name= "edit" value= <%=employee.id%>>Update</button> </td>
    
   </tr> <%end%>
    
   
    
    <%end%>




</body>
</html>
