<html> 
  <body> 
    <p> <a href= "/home"> Return to Home </a> </p>    
    <h1><img src="/images/blue_flower.jpeg" width="50" height="40" align="left"/><b>Event Edit Page</h1>
    
       
    <%= form_tag("/event_edit") do %>    
    <b><%=label_tag "customer_id","Cust ID:"%>
    <b><%=hidden_field_tag "customer_id", @event.customer.id%> 
      <%=@event.customer.id%>/ / / / 
    Customer Name: <a href= "/cust_edit/<%=@event.customer.id%>"> <%= @event.customer.name%></a>
    <br>
     <b><%=label_tag "event_id", "Event ID:"%>
      <%=hidden_field_tag "event_id", @event.id%>
      <%=@event.id%> / / / / 
    <b><%= label_tag "event_name", "Event Name:"%>
      <%= text_field_tag "event_name", @event.name%>
    <b><%= label_tag "event_type", "Event Type:"%>
      <%= text_field_tag "event_type", @event.event_type%>
      <b><%= label_tag "event_date", "Event Date: *"%>
      <%= text_field_tag "event_date", @event.date_of_event%>
      <b><%= label_tag "event_time", "Event Time: *"%>
      <%= text_field_tag "event_time", @event.time%>
      <br>
     <b><%= label_tag "setup_time", "Setup Time: *"%>
      <%= text_field_tag "setup_time", @event.delivery_setup_time%>
      <br>
      <b><%= label_tag "feel_of_day", "Feel of Day:"%>
      <%= text_field_tag "feel_of_day", @event.feel_of_day%>
      <b><%= label_tag "color_palette", "Color Palette:"%>
      <%= text_field_tag "color_palette", @event.color_palette%>
     <b><%= label_tag "flower_types", "Flower Type:"%>
      <%= text_field_tag "flower_types", @event.flower_types%>
      <b><%= label_tag "attire", "Attire:"%>
      <%= text_field_tag "attire", @event.attire%>
     <br> 
     <b><%= label_tag "lead_designer", "Lead Designer:"%>
      <%= select_tag "lead_designer", options_for_select(@employee_list, @event.employee.name)%>
      <br>
      <b><%= label_tag "budget", "Budget:"%>
      <%= text_field_tag "budget", @event.budget%>
      <br>
      
      <b><%= label_tag "notes", "Event Notes:"%>
      <%= text_area_tag "notes", @event.notes, rows: 2, cols: 130%> <br><br>
     
 <td><a href= "/virtual_studio/<%=@event.id%>"><img src="/images/gerber.jpeg" width="30" height="30" /></a>Virtual Studio
 <td><a href="/generate_quote/<%=@event.id%>"><img src="/images/yellow_gerber.jpeg" width="30" height="30" /></a>Build Quote
 <td><a href="/design_day_details/<%=@event.id%>"> <img src="/images/red_gerber.jpeg" width="30" height="30" /></a>Design Day Details
 


 <h2> Arrangments for Event </h2>
    
      <table border='1'>
      <th>Fl ID</th>
      <th>Cust ID</th>
      <th>Event ID</th>
      <th>Spec ID</th>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Specifications</th>       
       
        <% for each in @specifications %>
           <tr>
            <th><%= @event.customer.florist.id%>
            <th> <%= @event.customer.id%></th>
            <th> <%= @event.id%></th>
            <td> <%= hidden_field_tag "spec_id", each.id%>
                <%=each.id%></td> 
            <td> <%= text_field_tag "spec_item-#{each.id}", each.item_name%></td>
            <td> <%= text_field_tag "spec_qty-#{each.id}", each.item_quantity%></td>          
                     
            <td> <%= text_area_tag "spec_notes-#{each.id}", each.item_specs%></td>
            <td> <div class = 'label-spacer'></div> 
              <button name= "save" value= "save"></button>       
              <button name="delete" value= <%=each.id%>><img src="/images/delete.jpeg" width="30" height="30" /></button></td>
            </tr>
            <tr> <td><%= file_field_tag "spec_images-#{each.id}"%></td></tr>
        <%end%>
        <%= hidden_field_tag "ev_id", @event.id%>
        <div class = 'label-spacer'></div>
        <button name="add" value= "add">Add New Spec</button> <- save changes before adding a new spec. 
  
   <div class = 'label-spacer'></div> 
      <button name= "save" value= "save">Save Updates</button>       
    <%end%> 
    
    
    </table>
 
  </body> 
</html>
