
    <h3>Event Edit</h3>
    
     <%=error_messages_for @event%>
       
    <%= form_tag("/event_edit") do %>    
      <%=hidden_field_tag "customer_id", @event.customer.id%> 
      
    Customer Name: <a href= "/cust_edit/<%=@event.customer.id%>"> <%= @event.customer.name%></a> <br>
    <%=hidden_field_tag "event_id", @event.id%>
    <%= label_tag "event_name", "Event Name: *"%>
    <%= text_field_tag "event_name", @event.name%>
    <%= label_tag "event_date", "Event Date: *"%>
    <%= text_field_tag "event_date", @event.date_of_event%>
    <%= label_tag "event_time", "Event Time:"%>
    <%= text_field_tag "event_time", @event.time%>
    <%= label_tag "setup_time", "Setup Time:"%>
    <%= text_field_tag "setup_time", @event.delivery_setup_time%>
      <br>
    <%= label_tag "budget", "Budget:"%>
    <%= text_field_tag "budget", @event.budget%>  
      <%= label_tag "feel_of_day", "Feel of Day:"%>
      <%= text_field_tag "feel_of_day", @event.feel_of_day%>
      <%= label_tag "color_palette", "Color Palette:"%>
      <%= text_field_tag "color_palette", @event.color_palette%>
     <%= label_tag "flower_types", "Flower Type:"%>
      <%= text_field_tag "flower_types", @event.flower_types%>
      <%= label_tag "attire", "Attire:"%>
      <%= text_field_tag "attire", @event.attire%>
     <br> 
      <%= label_tag "coordinator", "Coordinator:"%>
      <%= text_field_tag "coordinator", @event.coordinator%>
      <%= label_tag "photographer", "Photographer:"%>
      <%= text_field_tag "photographer", @event.photographer%>
      <%= label_tag "locations", "Locations(s):"%>
      <%= text_field_tag "locations", @event.locations%>
      <br>
     <%= label_tag "lead_designer", "Lead Designer: *"%>
      <%= select_tag "lead_designer", options_for_select(@employee_list, @event.employee.name)%>
      <br>
      
      
      <%= label_tag "notes", "Event Notes:"%>
      <%= text_area_tag "notes", @event.notes, rows: 2, cols: 130%> <br><br>
      
 <hr />
 <td><button name= "save" value= "save">Save Updates</button>
 <td><b><a href= "/virtual_studio/<%=@event.id%>"><img src="/images/gerber.jpeg" width="30" height="30" /></a>Virtual Studio
 <td><b><a href="/generate_quote/<%=@event.id%>"><img src="/images/yellow_gerber.jpeg" width="30" height="30" /></a>Build Quote
 <td><b><a href="/design_day_details/<%=@event.id%>"> <img src="/images/red_gerber.jpeg" width="30" height="30" /></a>Design Day Details
 <hr />


 <h3> Arrangments & Quotable Items for Event </h3>
    
      <table border='1'>
  
      <th>Spec ID</th>
      <th>Item Name *</th>
      <th>Quantity *</th>
      <th>Specifications</th>       
       
        <% for each in @specifications %>
           <tr>
            <td> <%= hidden_field_tag "spec_id", each.id%>
                <%=each.id%></td> 
            <td> <%= text_field_tag "spec_item-#{each.id}", each.item_name%></td>
            <td> <%= text_field_tag "spec_qty-#{each.id}", each.item_quantity / 100.0%></td>          
                     
            <td> <%= text_area_tag "spec_notes-#{each.id}", each.item_specs%></td>
            <td> <div class = 'label-spacer'></div> 
              <button name= "save" value= "save"></button>       
              <button name="delete" value= <%=each.id%>><img src="/images/delete.jpeg" width="30" height="30" /></button></td>
                    <%end%>
        <%= hidden_field_tag "ev_id", @event.id%>
        <div class = 'label-spacer'></div>
        <button name="add" value= "add">Add New Arrangement & Save</button> 
  
  
             
    <%end%> 
    
    
    </table>
 
 