
<%= form_tag("/event_edit") do %>  

  <div class="row-fluid">
    <div class="span9">
      <h3>Edit Event for <a href= "/cust_edit/<%=@event.customer.id%>"> <%= @event.customer.name%></a> </h3>
    </div>
    <div class="span3 ">
      Designer:<%= select_tag "lead_designer", options_for_select(@employee_list, @event.employee.name), class: "pull-right"%>
    </div>
  </div>

  <% if flash[:error] != nil %>
    <div class="flash-error">
      <%= flash[:error]%>
    </div><br>
  <%end%> 
  
  <%=error_messages_for @event%>
            
  <%=hidden_field_tag "customer_id", @event.customer.id%> 
  <%=hidden_field_tag "event_id", @event.id%>        

  <div class="row-fluid">
    <div class="span3">
      <%= label_tag "event_name", "Event Name: *"%>
      <%= text_field_tag "event_name", @event.name, class: "span11", :tabindex => 1, placeholder: "required field"%>   
      <%= label_tag "locations", "Locations(s):"%>
      <%= text_field_tag "locations", @event.locations, class: "span11", :tabindex => 2%>
      <%= label_tag "event_date", "Event Date: *"%>
      <input type="date" name="event_date" class="span8" tabindex=3 value=<%=@event.date_of_event%> ></input>
        <div class="row-fluid">    
        <div class="span4">
          <%= label_tag "event_time", "Event Time:"%>   
          <%= text_field_tag "event_time", @event.time, class: "span12" , placeholder: "ie: 7AM", :tabindex => 4%>
        </div>
        <div class="span4">
          <%= label_tag "setup_time", "Setup Time:"%>
          <%= text_field_tag "setup_time", @event.delivery_setup_time, class: "span12", :tabindex => 5%>
        </div>
      </div>
      <button class="btn btn-small" name= "save" value= "save" >Save</button>                       
    </div>
    <div class="span4">        
      <%= label_tag "color_palette", "Colors:"%>
      <%= text_field_tag "color_palette", @event.color_palette, class: "span12", :tabindex => 6%>
      <%= label_tag "flower_types", "Flower Type:"%>
      <%= text_field_tag "flower_types", @event.flower_types, class: "span12", :tabindex => 7%>
      <%= label_tag "feel_of_day", "Feel/Theme:"%>
      <%= text_field_tag "feel_of_day", @event.feel_of_day, class: "span12", :tabindex => 8%>
      <%= label_tag "attire", "Attire:"%>
      <%= text_field_tag "attire", @event.attire, class: "span12", :tabindex =>9 %> 
    </div>
    <div class="span2 ">
      <%= label_tag "coordinator", "Coordinator:"%>
      <%= text_field_tag "coordinator", @event.coordinator, class: "span12 input-xlarge", :tabindex => 10%>
      <%= label_tag "photographer", "Photographer:"%>
      <%= text_field_tag "photographer", @event.photographer, class: "span12 input-xlarge", :tabindex => 11%>
      <%= label_tag "budget", "Budget:"%>
      <%= text_field_tag "budget", @event.budget, class: "span12 input-small", :tabindex => 12%> 
    </div>
    <div class="span3">
      <%= label_tag "notes", "Florist's Event Notes:"%>
      <%= text_area_tag "notes", @event.notes, class: "span12", placeholder: "These notes will not be reflected on customer quotes.  Limit: 1000 characters." , :rows=>11, :tabindex => 13 %> 
    </div>
  </div>
 <hr />
 
 <td><b><a href= "/virtual_studio/<%=@event.id%>"><img src="/images/gerber.jpeg" width="30" height="30" class="img-rounded"/> vStudio</a> </b>
 <td><b><a href="/generate_quote/<%=@event.id%>"><img src="/images/yellow_gerber.jpeg" width="30" height="30" class="img-rounded" />Quote</a> </b> 
 <td><b><a href="/design_day_details/<%=@event.id%>"> <img src="/images/red_gerber.jpeg" width="30" height="30" class="img-rounded" />Design Day Details</a></b>  
 <hr />

 <h3> Arrangements & Quotable Items for Event </h3>      
 <p> Note: Images bordered in red will appear on the cover page of the customer quote.</p>  
  <table class="table table-hover table-striped table-condensed">
  <tr>
    <th class="span1">Exclude from Quote</th>
    <th class="span3">Item Name *</th>
    <th></th>
    <th class="span1">Qty *</th>
    <th class="span8">Specifications</th> 
    
    <th></th>          
    </tr>
    <% for each in @specifications %>
      <tr>
        <td><%=check_box_tag "exclude-#{each.id}", "1", each.exclude_from_quote%></td>
        <td><%= text_field_tag "spec_item-#{each.id}", each.item_name, class: "input-large"%></td>
         <td> <div class = 'label-space'></div>
          <button class="btn btn-success btn-mini" name="add_image" value= <%=each.id%>>Image</button></td>
        <%x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,50]%>
        <td><%= select_tag "spec_qty-#{each.id}", options_for_select(x, each.item_quantity / 100), class: "input-mini"%></td>        
        <td> <%= text_area_tag "spec_notes-#{each.id}", each.item_specs, class: "span8", :rows=>3, placeholder: "Limit: 1000 characters."%>
         <br>
            
            <ul class="nails2">
            <% designed_products = DesignedProduct.where(specification_id: each.id).where(image_in_quote: 1).where("product_qty > 0.0").order("id") %>
              <% for designed_product in designed_products%>
                  <% image = Image.where(product_id: designed_product.product_id).where(image_type: "product").first%>
                  <% if image != nil%>
                  <li>
                  <div class="thumbnail">    
                  <%if designed_product.image_on_cover == 1 %>
                    <img style="padding: 5px; border: 1px solid #E01B5D; background-color:#FAFAFA; width: 65px; height: 65px" src="<%= image_data_path(image.id, image.extension) %>">
                  <%else%>
                    <img style="width: 65px; height: 65px" src="<%= image_data_path(image.id, image.extension) %>">
                
              
                  <%end%> 
                  <%end%>
                  <%end%>
                
            
            <% for image in each.images.order("id")  %>
              <li>
                <div class="thumbnail">    
                  <%if image.on_quote_cover != nil%>
                  <img style="padding: 5px; border: 1px solid #E01B5D; background-color:#FAFAFA; width: 65px; height: 65px" src="<%= image_data_path(image.id, image.extension) %>">
                <%else%>
                  <img style="width: 65px; height: 65px" src="<%= image_data_path(image.id, image.extension) %>">
                
                <%end%>
                </div>
              </li>
            <%end%> 
            </ul>
        </td>
        
        
        
      
        
        
        
    
       
       <%= hidden_field_tag "spec_id", each.id%>
       
        <td> <div class = 'label-spacer'></div> 
        <button tabindex=-1 class="btn btn-danger btn-mini" data-confirm="This row will be permanently deleted... OK?" name="delete" value= <%=each.id%>>Delete</button></td>




</tr>



    <%end%>
    <%= hidden_field_tag "ev_id", @event.id%>         
    <%end%>   
  </table>  
  <hr />  
  <div class = 'label-spacer'></div>
  <button class="btn btn-small" name="add" value= "add">Add New Item & Save</button> 
 
 