    
     <%= form_tag("/save_quote") do %>  
    <h3>Quote Name: *<%= text_field_tag "quote_name", @quote.quote_name%></h3> 
    
    <%=hidden_field_tag "customer_id", @event.customer.id%> 
    Customer Name: <a href= "/cust_edit/<%=@event.customer.id%>"> <%= @event.customer.name%></a>
    <br>
      <%=hidden_field_tag "event_id", @event.id%> 
      Event Name: <a href= "/event_edit/<%=@event.id%>"> <%= @event.name%></a>
      Event Date: <%=@event.date_of_event%>
      Event Time: <%=@event.time%>
      Setup Time: <%=@event.delivery_setup_time%>
      <br>
      Budget: <%=@event.budget%>
      Feel of Day: <%=@event.feel_of_day%>
      Color Palette: <%=@event.color_palette%>
      Flower Type: <%=@event.flower_types%>
      Attire: <%=@event.attire%>
     <br> 
     Lead Designer: <%=@event.employee.name%>
      <br>
      
      Event Notes: <%= @event.notes%>
      <br>
      
      <%= label_tag "status", "Status:"%>
      <%= select_tag "status", options_for_select(["Open Proposal", "Booked", "Ordered", "Completed", "Lost"], @event.quote.status)%> <br><br>
     
  <td><a href="/generate_cust_facing_quote/<%=@event.id%>"><img src="/images/red_gerber.jpeg" width="30" height="30" /></a>Generate Customer Facing Quote
  
   <h3> Arrangements & Quotable Items for Event </h3>
  <button name= "save" value= "save">Save & Recalc</button> - Press Save to See Updated Total Markup & Quoted Price
     
  
  <table border='1'>
       <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

      <th>Total Markup: </th>
      <th>Total Quoted Price:  </th>
      </tr>
        <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
            <th></th>

      <th></th>
      <th><%=@event.quote.markup%> x </th>
      <th>$<%=@event.quote.total_price%>  </th>
      </tr>
      
<tr>      
      
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Specifications</th> 
      <th>Per Item Cost</th>
            <th>Extended Cost</th>

      <th>Per Item List Price</th>
      <th>Extended List Price</th> 
      <th>Markup @ List Price
      <th>Quoted Price</th>
    </tr>
       
        <% for each in @specifications %>
           <tr>
           
            <td> <%= hidden_field_tag "spec_item-#{each.id}", each.item_name%>
                 <%=each.item_name%></td> 
            
            <td> <%= hidden_field_tag "spec_qty-#{each.id}", each.item_quantity%>          
                 <%=each.item_quantity%></td>
            <td> <%= hidden_field_tag "spec_qty-#{each.id}", each.item_specs, rows: 10, cols: 60%>
                <%= each.item_specs%></td>
            
            <% per_arrangement_cost = 0.00 %>
            <% per_arrangement_list_price = 0.00%>
            
            <% designed_products = DesignedProduct.where(specification_id: each.id)%>
            <%for designed_product in designed_products %>
              <% product_cost = designed_product.product_qty * designed_product.product.cost_for_one %>
              <% product_list_price = product_cost * designed_product.product.markup%>
              <% per_arrangement_cost = per_arrangement_cost + product_cost %>
              <% per_arrangement_list_price = per_arrangement_list_price + product_list_price%>
            <%end%>
            
            <td> <%= hidden_field_tag "per_item_cost-#{each.id}", each.per_item_cost = per_arrangement_cost.round(2)%>
                 $<%=each.per_item_cost = per_arrangement_cost.round(2)%> </td>
            <td> <%= hidden_field_tag "extended_cost-#{each.id}", extended_cost = (each.per_item_cost * each.item_quantity).round(2)%>
                 $<%= extended_cost = (each.per_item_cost * each.item_quantity).round(2)%></td>
            
            <td> <%= hidden_field_tag "per_item_list_price-#{each.id}", each.per_item_list_price = per_arrangement_list_price.round(2)%>
                 $<%= each.per_item_list_price = per_arrangement_list_price.round(2)%></td>
            <td> <%= hidden_field_tag "extended_list_price-#{each.id}", each.extended_list_price = (each.per_item_list_price * each.item_quantity).round(2)%>
                 $<%= each.extended_list_price = (each.per_item_list_price * each.item_quantity).round(2)%></td>
            <td> <%= markup = (each.extended_list_price / (each.per_item_cost*each.item_quantity)).round(2)%> x</td>
            <td> $<%= text_field_tag "quoted_price-#{each.id}", each.quoted_price%> </td>
            
            <tr> 
            <td>
            <td>
            <td><i>images here</i> </td> </tr>
        </tr>
        <%end%>
       
        <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>

      <th>Total Markup: </th>
      <th>Total Quoted Price:</th>
      </tr>
        <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><%=@event.quote.markup%> x </th>
      <th>$<%=@event.quote.total_price%>  </th>
      </tr>
      
    
       </table>
       
        
         
    <%end%>   
  