 <%= form_tag homepage_path do %>
  
   <%if Florist.where(id: session["found_florist_id"]).first.company_id == "flowerbuds"%>
    <%=button_tag "Admin Access", name: "admin_access"%><br>
  <%else%>
  <%end%>
   <br><br>
<table>
<tr>
<th> Customer Search:
<th>
<th>
<th>
<th>
<th>
<th>
<th>
<th>
<th>
<th>  <%=text_field_tag "search_field"%> 
<th>
<th>  <%=button_tag "Search/Add", name: "search"%> <- Search to see if the customer already exists before adding a new customer.
 </table>
 
  

<br>
<table>
<tr>
<th> Active Events For:

<th> 
<th> 
<th> 
<th> 
<th> 
<th> 
<th> 
<th> 

<th> 
<th>
  <%= select_tag "view", options_for_select(@view_prefs, Employee.where(id: session["found_user_id"]).first.view_pref)%>
  <th> 
  <%=button_tag "Go!", name: "update_view"%>
   </table>  
  
  <%end%>
    
    
    <table>  
    <th><a href="/schedule_order_date">Schedule Wholesale Order Date</a></th>
    <th> / </th>
    <th><a href="/employees">Employees</a></th>
    <th> / </th>
    <th><a href="/products">Products</a></th>
    </table>
    
    
    
    <table border='1'>
      <tr>
        
        <th>Customer Name</th>
        <th>Events</th>
        <th>Date of Event</th>
        <th>Quote</th>
        <th>Quote Status</th>
        <th>W'sale Order Date</th>
        
        <th>Phone</th>
        <th>Email</th>
        <th>Company</th>
      <th>Designer</th>
      <th>cust id</th>
      <th>event id</th>

      </tr>
        
          <tr>
          <% for event in @events %>
          <td><a href="cust_edit/<%=event.customer.id%>"> <%= event.customer.name %></a></td>
          <td><a href="event_edit/<%= event.id%>"> <%= event.name %>  </a></td>
          <td><%=event.date_of_event%></td>
          <td><%if event.quote != nil%>
                  <a href="/generate_quote/<%=event.id%>"> <%=event.quote.quote_name%> </a> 
                <%else%>
                  No Quote
                <%end%></td>
          <td> <%if event.quote !=nil%>
                  <%=event.quote.status%>
                  <%else%>
                  No Quote
                  <%end%></td>
    
          
          <td> <%if event.quote !=nil%>
                  <a href="/wholesale_order_list/<%=event.quote.wholesale_order_date%>"><%=event.quote.wholesale_order_date%>
                  <%else%>
                  <%end%></td>
          
          <td> <%=event.customer.phone1%> </td>
          <td> <%=event.customer.email%> </td>
          <td> <%=event.customer.company_name%> </td>
          <td><%=event.employee.username%>
                    <td><%= event.customer.id %></td>
                    <td><%= event.id %></td>

        </tr>
         <% end %>
    </table>
 <p><i>Note: These are Active Events only (aka: event has not yet been delivered). This does not show already "delivered/fulfilled" events or "lost" proposals.</p>