<!DOCTYPE html>
<html>
  <head>
    <title>CenterpieceFMT</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>

  </head>
  <body>
  <br><br><br><br>
    <div align="middle"><img src="/images/cropped_tulips.png" width="317"/>
  <h1>Centerpiece FMT </h1>
    
  <%= form_tag login_path do %>
    <b><%= label_tag "company_id", "Florist ID: " %>
    <%= text_field_tag "company_id", nil, class: "input-medium"%>
    <br><br>
    <%= label_tag "username", "Username: " %>
    <%= text_field_tag "username", nil, class: "input-medium"%>
    <br>
    <br>
    <%= label_tag "password", "Password: " %>
    <%= password_field_tag "password", nil, class: "input-medium"%> 
    <br>
    <br>
    <div class= 'label-spacer'></div>
    <button class= "btn btn-primary" name= "action" value= "save">Enter</button>
  <%end%><br><br><br><br>
  
  <p><%= link_to "return to home", webpage_path%></p>
  
  </div>
  
      
  </body>
</html>
      
      