
      <br><br><br><br><br><br>
      
      <div align="middle"><img src="/images/gerber.jpeg" width="100" height="100"/> <img src="/images/yellow_gerber.jpeg" width="100" height="100" /> <img src="/images/red_gerber.jpeg" width="100" height="100" />
     
      <h1> flower buds, inc. </h1>
      
      <%= form_tag login_path do %>
        <b><%= label_tag "company_id", "Florist ID: " %>
        <%= text_field_tag "company_id"%>
        <br>
        <br>
       
        <%= label_tag "username", "Username: " %>
        <%= text_field_tag "username"%>
        <br>
        <br>
        <%= label_tag "password", "Password: " %>
        <%= password_field_tag "password"%> 
        <br>
        <br>
        
        <div class= 'label-spacer'></div>
        <button name= "action" value= "save">Enter</button>
      <%end%><br><br><br><br>
      
      <p><%= link_to "about flower buds", about_us_path%></p>
      
       </div>
      
