  <!DOCTYPE html>
<html>
  <head>
    <title>Specifications</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div class="container">
      <h4> Specifications for <%=Event.where(id: @event_id).first.name%> </h4> 
      <p> Macs = Command ~ to toggle between browser windows</p>
  
      <table class="table table-striped table-hover, table-condensed, table-bordered ">
        <th class="span1">Arrangement</th>
        <th>Specifications</th>
       
        <%for specification in @specifications%>
          <tr>
            <td><%=specification.item_name%></td>
            <td  tabindex=1>    <%= raw(specification.item_specs.gsub("\n", "<br>"))%>
          
              <br>
              <ul class="nails2">
              
              
              
              <% for image in specification.images %>
                <li>
                  <div class="thumbnail">    
                    <img style="width: 100px; height: 100px" src="<%= image_data_path(image.id, image.extension) %>">
                    <div class="display_name"><%=image.display_name%><br></div>

                  
                  </div>
                </li>
              <%end%> 
    </div
          
          
          
          
          
          
          
          
          
          
          </td> </tr>
      <%end%>
    </table>
  </body>
</html>
