<html>
  <body>
    
   <p><a href="/home">Back to Home</a></p>
   
     <h1><img src="/images/blue_flower.jpeg" width="50" height="40" align="left"/><b>Edit Products</h1>
 <%= form_tag("/products_update") do %>  
   
   <p> <a href="/new_product">Add a New Product</a>
   
    <table border='1'>
        <th>ProductID</th>
        <th>FloristID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Cost/Bunch</th>
        <th>Items/Bunch</th>             
        <th>Cost for One</th>
        <th>Markup</th>
        <th>Status</th>
        <th>Last Updated</th>
      
        
        <tr>
        <% for product in @products%>  
          <td> <%= hidden_field_tag "product_id", product.id%>
               <%=product.id%></td>
          <td> <%=hidden_field_tag "florist_id", product.florist_id%>
               <%=product.florist_id%></td>
          <td><%= hidden_field_tag "product_type", product.product_type%>
               <%=product.product_type%></td>
          <td><%= hidden_field_tag "product_name", product.name%>
               <%=product.name%></td>
          <td>$<%= text_field_tag "cost_per_bunch_#{product.id}", product.cost_per_bunch%>

          <td><%= text_field_tag "items_per_bunch_#{product.id}", product.items_per_bunch %></td>
                <td><%= hidden_field_tag "cost_for_one_#{product.id}", product.cost_for_one %>
              $<%=product.cost_for_one %></td>
          <td><%= text_field_tag "markup_#{product.id}", product.markup %></td>
          <td><%= text_field_tag "status_#{product.id}", product.status %></td>       
          <td><%= hidden_field_tag "updated_at_#{product.id}", product.updated_at%>
                  <%=product.updated_at%></td>   
          </tr>
         <% end %>

    </table>
    <div class= 'label-spacer'></div> <button name= "action" value= "save">Save</button>
    <br>
    
  
 
<%end%>



    
    

  </body>
</html>  