
<h3>Edit Products</h3>

  <%= form_tag("/product_post/") do %>  
  
    <%if @PRODUCT_UPDATE_MUST_HAVE.include?(Employee.where(id: session["found_user_id"]).first.admin_rights)%>
      <button class="btn btn-small" name= "new" value= "new">Add New</button>
    <%else%>
    <%end%>
    <table class="table table-striped table-hover table-condensed ">    
      <th></th>
      <th>Type</th>
      <th>Image</th>
      <th>Name</th>
      <th>Status</th>
      <th>Cost/Bunch</th>
      <th>Items/Bunch</th>             
      <th>Cost for One</th>
      <th>Multiplier</th> 
      <th>List Price</th>     
      <th>Last Updated</th>
      <th>Updated by</th>      
      <tr>
      <% for product in @products%>  
        <%if @PRODUCT_UPDATE_MUST_HAVE.include?(Employee.where(id: session["found_user_id"]).first.admin_rights)%>
          <td>  <button class="btn btn-mini" name= "edit" value= <%=product.id%>>Edit</button> </td>
          <%else%>
          <td></td>
          <%end%>
        <td><%=hidden_field_tag "product_type", product.product_type%>
            <%=product.product_type%></td>
        <td> <div class="nails2">
            <% image = Image.where(product_id: product.id).where(image_type: "product").first%>
        <% if image != nil%>
             <img style="width: 30px; height: 30px" src="<%= image_data_path(image.id, image.extension) %>">
          <%else%>
          <i>none</i>
          <%end%></td>
        
        
       
        <td><%=hidden_field_tag "product_name", product.name%>
            <%=product.name%></td>
        <td><%=hidden_field_tag "status", product.status %>
            <%=product.status%></td>
        <td><%=hidden_field_tag "cost_per_bunch", product.cost_per_bunch / 100.round(2)%>
            $<%= sprintf("%.2f" , product.cost_per_bunch / 100.round(2))%> </td>
        <td><%=hidden_field_tag "items_per_bunch", product.items_per_bunch / 100 %>
            <%=(product.items_per_bunch / 100).round(0)  %></td>
        <td><%=hidden_field_tag "cost_for_one", product.cost_for_one / 100.round(2)%>
            $<%=sprintf("%.2f" , product.cost_for_one / 100.round(2)) %></td>
        <td><%=hidden_field_tag "markup", product.markup / 100.round(2) %>
            <%=sprintf("%.2f" , product.markup / 100.round(2))%> x</td>
        <%=hidden_field_tag "product_id", product.id%>
        <td>$<%=sprintf("%.2f" , product.cost_for_one / 100.round(2) * product.markup / 100.round(2)) %></td>
              
        <td><%=hidden_field_tag "updated_at", product.updated_at%>
            <%=product.updated_at%></td>
        <td><%= hidden_field_tag "updated_by", product.updated_by%>
            <%=product.updated_by%></td>   
        </tr>
       <% end %>
    </table>
  <%end%>

