
<h3><b>Create/Edit Products</b></h3>
  <p> This includes all flowers from the wholesaler, vases you will resell, and labor charges. </p>

  <%=error_messages_for @product%>

  <% if @product.id == nil 
    id = "new"%>
  <%else
    id = @product.id%>
  <%end %>
  
  
   <div class="row-fluid">
  <div class="span3">
  
  
 
  <%= form_tag("/product_updates/#{id}") do %>
    <tr>
    <tr><%=label_tag "product_type", "Product Type: *" %>
        <%= select_tag "product_type", options_for_select(["", "1. Fresh Goods", "2. Hard Goods", "3. Rentals", "4. Labor", "5. Other"], @product.product_type) %></tr>
    <br> 
    <tr><%=label_tag "product_name", "Product Name: *" %>
        <%= text_field_tag "product_name", @product.name%></tr>
    <br>
    <tr><%=label_tag "display_name", "Display Name:+" %>
        <%if @product.display_name == nil%>
          <% display_name = @product.name %>
        <%else%>
          <% display_name = @product.display_name %>
        <%end%>
    <%= text_field_tag "display_name", display_name%></tr>
   <tr> <%=label_tag "cost_per_bunch", "Cost per Bunch: * $" %>         
      <%if @product.cost_per_bunch != nil%>
        <%=text_field_tag "cost_per_bunch", @product.cost_per_bunch / 100.0.round(2)%></tr>
      <%else%>
        <%= text_field_tag "cost_per_bunch", @product.cost_per_bunch%></tr>
      <%end%>
    <br>
    <tr><%=label_tag "items_per_bunch", "Items per Bunch: *" %>
      <%if @product.items_per_bunch != nil%>
        <%= text_field_tag "items_per_bunch", @product.items_per_bunch / 100.0.round(2)%></tr>
      <%else%>
        <%= text_field_tag "items_per_bunch", @product.items_per_bunch%></tr>
      <%end%>
    <br> 
    <tr>Cost for One:</i>
    <% if @product.cost_per_bunch != nil%>
      <b>$ <%= sprintf("%.2f" , @product.cost_for_one / 100.0.round(2)).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></b>
    <%else%>
      <b> n/a</b>
    <%end%>
    <br> <i>(Cost per Bunch / Items Per Bunch)</i>
    <br><br>
    
    <tr><%=label_tag "markup", "Multiplier: * " %>
      <%if @product.markup != nil%>
        <%= text_field_tag "markup", @product.markup / 100.0.round(2)%></tr>
      <%else%>
        <%= text_field_tag "markup", @product.markup%></tr>
      <%end%>
    <br>
    <tr>Calculated List Price: 
    <% if @product.cost_per_bunch != nil%>
      <b>$ <%= sprintf("%.2f" , (@product.markup / 100.0.round(2)) * (@product.cost_for_one / 100.0.round(2))).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%></b>
    <%else%>
      <b> n/a</b>
    <%end%>
    <br> <i>(Cost for One x Multiplier)</i><br>
    <br>
    <tr><%=label_tag "status", "Status: *" %>
        <%= select_tag "status", options_for_select(["Active", "Inactive"], @product.status) %>   </tr> 
    <br><br>
    <button class="btn btn-small" name= "action" value= "new">Save</button>
  <% end %>

  <p><a href="/products">Back to Products</a></p>
  
    <p> + The Display Name is the name that will appear on the customers' quotes.  If the Display Name will be the same as the Product Name, then leave "as is".</p>

  
  </div>

  
  
     <div class="span6">
  
<div><b>Product Image:</b> Max file size = 75kb</>

<% if id == "new"%>
<p> "You must first "save" before adding an image"
<%else%>


<% if Image.where(product_id: @product.id).where(image_type: "product").first == nil %>
  
  <%= form_tag upload_path, multipart: true, class: "dropzone",
        id: "image-upload", style: "min-height:inherit; height:200px" do %>
    <div class="fallback">
      <%= file_field_tag :file, multiple: true %>
      <%= submit_tag "Upload" %>
    </div>
    <%= hidden_field_tag "spec_id", "product"%>
    <%= hidden_field_tag "p_id", @product.id%>
  <% end %>

  <script>
    Dropzone.options.imageUpload = {
    // forceFallback: true, // uncomment to test uploading without Dropzone
      dictFallbackMessage: "Choose an image to upload...",
      success: function() { window.location.reload(); }
    };
  </script>
<%end%>

<%=form_tag "/update_image" do %>

<ul class="row-fluid">
<% image = Image.where(product_id: @product.id).where(image_type: "product").first%>
  <% if image != nil%>
  <li class="span4">
    <div class="thumbnail">    
    <img src="<%= image_data_path(image.id, image.extension) %>">
    </div><br><br>
 
 <div class = 'label-spacer'></div> 
        <button tabindex=-1 class="btn btn-danger btn-mini" name="delete" value= <%=image.id%>>Remove</button>
        
</li>
<%end%>
</ul>

 



<%= hidden_field_tag "spec_id", "product"%>
<%= hidden_field_tag "p_id", @product.id %>

<%end%>
<%end%>

</div>
</div>
