<h3>Other Customizable Items</h3>

  <%= form_tag("/setup_update") do %>
<h4> Default Proposal Style </h4>
<p> CenterpieceFMT provides you w/ 2 Generic Proposal Templates with an option to have a 3rd customized and personalized for you. Choose a default style.
Although this will be your default, you have the ability to choose an alternative on a quote by quote basis.</p>
<label> <b>Proposal Style:</b> </label>
<% if @florist.quote_style_pref == nil %>
  <%choice = 1%>
<%else%>
  <%choice = @florist.quote_style_pref%>  
<%end%>
<% if @florist.custom_quote == 1 %>
  <%choices = [1, 2, session["found_florist_id"]]%>
<%else%>
  <%choices = [1, 2]%>
<%end%>
<%= select_tag "quote_style", options_for_select(choices, choice), class: "input-mini"%>
<p>Style 1 = Includes Cover Page w/ Images(if chosen) embedded directly in Proposal's itemized list of arrangements.<br>
   Style 2 = No Cover Page.  Images (if chosen) summarized at end of quote in the Image Gallery. <br>
   Style X = Your Personal Customized Proposal Template (if you've purchased it from CenterpieceFMT) </p>
   <hr />


<h4> Default "Show Product Image" Preference </h4>
<p> CenterpieceFMT provides you w/ the ability to include the image you've associated w/ individual flower types (from your Product Catalog) within your quote. Choose a default style.
Although this will be your default, you have the ability to choose an alternative on a event-by-event basis.</p>


<div class="checkbox">
<%= check_box_tag "show_product_image_pref",  "1", @florist.show_product_image_pref%>
<%=label_tag "show_product_image_pref", "Include Product Images in Quotes"%>
</div>
   <hr />













<h4> Customizable Quote Language for Last Page of Quote</h4>
<p> This is a one time setup.  Use the default language provided or create your own language that will appear at the bottom of each of your customer quotes. </p>



    <% if @florist.quote_language == nil%>
    <%quote_language = @default_quote_language %>
    <%else%>
    <%quote_language = @florist.quote_language%>
    <%end%>
    <%= text_area_tag "quote_language", quote_language, class: "span12", :rows=>20%>
    
    <p> Character Limit = 5,000.  Current Character Count:  <%= quote_language.length%>
    
    <% if @SETUP_UPDATE_MUST_HAVE.include?(Employee.where(id: session["found_user_id"]).first.admin_rights)%>
    
     <div class = 'label-spacer'></div> 
        <button class="btn btn-mini btn-primary" data-disable-with="..." name="save" value= "save">Save</button>
         <button class="btn btn-mini " data-disable-with="..." name="cancel" value= "cancel">Cancel</button>
        <%else%>
        <p><b> NOTE: You do not have administrative rights and therefore do not have permissions to edit the quote language.</p>
    <%end%>
    <%end%>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
