<h3>Virtual Studio</h3>
    

<div class="row-fluid">
    <div class="span4">
      <p><b>Cust Name:</b> <%=@event.customer.name%><br>
         <b>Event Name:</b> <a href= "/event_edit/<%=@event.id%>"> <%=@event.name%></a><br>
         <b>Budget:</b> <%=@event.budget%></p>
    </div>    
    <div class="span4">
      <p><b>Feel_of_day:</b> <%=@event.feel_of_day%><br>
         <b>Colors:</b> <%=@event.color_palette%><br>
         <b>Flower Preferences:</b> <%=@event.flower_types%><br>
         <b>Attire:</b> <%=@event.attire%></p>
    </div>
    <div class="span4">
    <b>Event Notes:</b>
    <%=@event.notes%>
    
    </div>
</div>

<%=hidden_field_tag "event_id", value: @event.id%>

<hr />

<p>Design a single arrangment for each type of arrangement.  Include stems, design time, vases, rented items, etc. </p>

    <table class="table table-striped table-hover table-condensed">
    
    
       
      <%= form_tag("/virtual_studio_update") do %>
  <button class="btn btn-small" name= "update" value= "update">Save Updates</button>  
      <%=hidden_field_tag "event_id", @event.id%>
      <thead>
        <tr>
          <th>
          <th>Items to Include</th>
          <%for specification in @specifications%>
            <th><%=specification.item_name%></th>    
          <%end%>
        </tr>
      </thead>
      
      <tr>       
      <%for each in @list_of_products%>
        <%id = Product.where(name: each).where(florist_id: session["found_florist_id"]).first.id%>
        <td><button class="btn btn-danger btn-mini" name= "remove" value= <%=id%>>Delete</button></div> </td> 
        <td><%=each%></td> 
        <% for specification in @specifications%>
          <td><%x = DesignedProduct.where(product_id: id).where(specification_id: specification.id).first%>
             <%stem_count= x.product_qty / 100.0.round(2) %>
             <%=text_field_tag "stemcount_#{x.id}", stem_count, class: "input-mini"%> </td>               
          <%end%> 
          </tr>
      <%end%> 
       </table>
    <br>
    
    
                <table>
   
      <%=hidden_field_tag "event_id", @event.id%>
      <%= label_tag "new_item", "Add New Item:"%>
      <%= select_tag "new_item", options_for_select(@dropdown)%>       
       <div class = 'label-spacer'></div>
      <button class="btn btn-small" name= "add" value= "add">Add</button><- single click please. 
    <%end%>    
  </table>
  
  
  <script type="text/javascript">
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=300,width=600,left=600,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>

<p><a href="JavaScript:newPopup('/popup_specs/<%=@event.id%>');">Show Specifications</a></p> 
    
 