    <h3>Virtual Studio</h3>
    
<table align="left">
  
  <tr><td>Cust Name: <%=@event.customer.name%>
  <tr><td><%=hidden_field_tag "event_id", value: @event.id%>
  <tr><td>Event Name: <a href= "/event_edit/<%=@event.id%>"> <%=@event.name%></a>
  <tr><td>Budget: <%=@event.budget%><br>

      
  </table>
      
      <table align="right">
   
      <tr><td>Feel_of_day: <%=@event.feel_of_day%>
      <tr><td>Colors: <%=@event.color_palette%>
     <tr><td>Flower Preferences: <%=@event.flower_types%>
    <tr><td>Attire: <%=@event.attire%>
      </table>


<br>
<br>
<br>
<br>
<br>
<hr />

<p>Design a single arrangment for each type of arrangement.  Include stems, design time, vases, rented items, etc. </p>

    <table border='1'>
    
    
       
      <%= form_tag("/virtual_studio_update") do %>
  <button name= "update" value= "update">Save Updates</button>  
      <%=hidden_field_tag "event_id", @event.id%>
      <th>
      <th>Items to Include</th>
      <%for specification in @specifications%>
        <th><%=specification.item_name%></th>    
      <%end%>
      
      <tr> 
      
      

      
      <%for each in @list_of_products%>
         <%id = Product.where(name: each).where(florist_id: session["found_florist_id"]).first.id%>
        
            <td>            <div class = 'label-spacer'>
      
      <button name= "remove" value= <%=id%>>Delete</button></div> </td> 
        
          <td><%=each%></td> 
          <% for specification in @specifications%>
            <td><%x = DesignedProduct.where(product_id: id).where(specification_id: specification.id).first%>
               
                  <%stem_count= x.product_qty / 100.0.round(2) %>
                  <%=text_field_tag "stemcount_#{x.id}", stem_count%> </td>               
          <%end%> 
            </tr>
      <%end%> 
       
   
    </table>
    <br>
    
    
                <table>
   
      <%=hidden_field_tag "event_id", @event.id%>
      <%= label_tag "new_item", "Add New Item:"%>
      <%= select_tag "new_item", options_for_select(@dropdown)%>       
       <div class = 'label-spacer'></div>
      <button name= "add" value= "add">Add</button><- single click please. 
    <%end%>    
  </table>
  
  
  <script type="text/javascript">
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=300,width=600,left=600,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
}
</script>

<p><a href="JavaScript:newPopup('/popup_specs/<%=@event.id%>');">Show Specifications</a></p> 
    
 