
<h3>Wholesaler Order List for <%=params["place_order_on"]%></h3>

  <h4>Events I'm Ordering For</h4>
    <table class="table table-striped table-hover table-condensed table-bordered ">
      <thead style="vertical-align:bottom">
      <tr>
        <th class="span1">Event ID </th>  
        <th class="span1">Designer</th>
        <th class="span3" >Event Name</th>
        <th class="span2">Event Date</th>
        <th class="span2">Customer Name</th>
        <th class="span3">Quote Name</th>
        <th>Quote Status</th>
      </tr>
      </thead>
      <tr>
        <% for order in @orders %>
          <td> <%=order.event.id%></td>          
          <td> <%=order.event.employee.username%></td>
          <td> <%=order.event.name%> </td>
          <td> <%=order.event.date_of_event%> </td>
          <td><%= order.event.customer.name %></td>
          <td> <a href="/generate_quote/<%=order.event_id%>"> <%=order.quote_name%></td>
          <td> <%=order.status%></td>
      </tr>
         <% end %>
    </table>

  <i>Note: If there is a last second cancellation, select the Quote Name link to change the Quote Status.  Doing so, will clear the event from the Wholesaler Order List.</i>
  <hr />
  
  <h4> Items I Need:</h4>
  <% for product_type in @list_of_product_types%>

<div class="page-break"></div>
  
     <p><b><%=product_type%></b></p>  
      <table class="table table-striped table-hover table-condensed table-bordered ">  
        <thead style="vertical-align:bottom">
        <tr>        
          <th class="span3">Products</th>
          <% for order in @orders%>
            <th style="text-align:center"><%=order.event.name.gsub("Wedding", "...")%></th>
          <%end%>
          <th style="text-align:center">Total</th>
          <th style="text-align:center">#/Bundle</th>
          <th style="text-align:center">Order This Many</thd>
          <th style="text-align:center">Extras</th>
        </tr>
        </thead>
        <tr>
          <%for product_id in @list_of_product_ids%>
            <% product = Product.where(id: product_id).where(product_type: product_type).first%>
            <%if product != nil%>
              <td><%=product.name%></td>
              <%total_count = 0%>
              <% for order in @orders%>
                <%designed_products =DesignedProduct.where(product_id: product_id).where(event_id: order.event_id)%>
                <%count = 0%>
                <%for designed_product in designed_products%>
                  <%if designed_product.specification.exclude_from_quote == nil %>
                  <%count = count + ((designed_product.product_qty / 100.0) * (designed_product.specification.item_quantity / 100.0))%>
                  <%end%>
                <%end%>
                <td style="text-align:center"><%if count > 0%>
                      <%=sprintf("%.2f" ,count).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
                    <%else%>
                      -
                    <%end%>
                </td>
                <%total_count =  total_count + count%> 
              <%end%>
            <td style="text-align:center"><%if total_count > 0%>
                  <%=sprintf("%.2f" ,total_count).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
                <%else%>
                  -
                <%end%>  
            </td>
            
            <td style="text-align:center"><%=items_per_bunch = Product.where(id: product_id).first.items_per_bunch / 100 %></td>
            <td style="text-align:center"><%purchase = (total_count / items_per_bunch).ceil%>
                <%if purchase > 0%>
                  <%=sprintf("%.2f" ,purchase).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%>
                <%else%>
                -
                <%end%>
            </td>
            <td style="text-align:center"><%if ((purchase*items_per_bunch) - total_count).to_i > 0 %>
                  <%= ((purchase*items_per_bunch) - total_count).to_i%> 
                <%else%>
                -
                <%end%>
            </tr>   
            <%end%>
            <%end%>
    </table>
<%end%>





















