
<h3><b>Create/Edit Florists</b></h3>
<p><a href="/florists">Back to Florists</a></p><br>

<%=error_messages_for @employee%>
<%=error_messages_for @florist%>

<% if @florist.id == nil 
  id = "new"%>
<%else
  id = @florist.id%>
<%end %>
       
<%= form_tag("/florist_updates/#{id}") do %>
         
 
   
    <div class="row-fluid">
      <div class="span2">  
        <%=label_tag "name", "Florist Co. Name: *" %>
        <%= text_field_tag "name", @florist.name, class: "span12"%>
      </div>
      <div class="span2">  
        <%=label_tag "city", "City:" %>
        <%= text_field_tag "city", @florist.city, class: "span12" %>
      </div>
      <div class="span2">  
        <%=label_tag "state", "State:" %>
        <%= text_field_tag "state", @florist.state, class: "span12" %>
      </div>
      <div class="span2">  
        <%=label_tag "zip", "Zip:" %>
        <%= text_field_tag "zip", @florist.zip, class: "span12" %>
      </div>
    </div>
   
   
    <div class="row-fluid">
    <div class="span12">
      
      <%=label_tag "company_id", "Company Login ID: *" %>
      <%= text_field_tag "company_id", @florist.company_id%>             
      
      <%=label_tag "status", "Company Status: *" %>
      <%= select_tag "status", options_for_select(["Active", "Inactive"], @florist.status)%>
      <% if @florist.plan_id == nil%>
        <%plan_name = ""%>
      <%else%>
        <%plan_name = @florist.plan.plan_name%>
      <%end%>
      
      <%=label_tag "plan_name", "Plan: *"%>
      <%= select_tag "plan_name", options_for_select(@plans, plan_name)%><br><br>
 
       <p> The POC is typically the business owner.  Their information should be input here at initial setup.  Any other modifications should be done by the florist themselves.

 


      <div class="row-fluid">
        <div class="span2">   
          <%=label_tag "primary_poc", "POC's Name: *" %> 
          <%= text_field_tag "primary_poc", @employee.name, class: "span12"%>
        </div>
        <div class="span2">
          <%=label_tag "username", "Username: *"%>
          <%=text_field_tag "username", @employee.username, class: "span12"%>
        </div>
        <div class="span2">
          <%=label_tag "password", "Password: *"%>
          <%=password_field_tag "password", @employee.password, class: "span12"%>
        </div>
        <div class="span2">
          <%=label_tag "password_confirmation", "Confirm P'word: *"%>
          <%=password_field_tag "password_confirmation", @employee.password_confirmation, class: "span12"%>
        </div>
        <div class="span4">
          <%=label_tag "q_and_a", "Security Q & A:"%>
          <%=text_field_tag "q_and_a", @employee.q_and_a, class: "span12"%>

        </div>
        </div>
        
        <div class="row-fluid">
          <div class="span2">
            <%=label_tag "admin_rights", "Admin Rights: *"%>
            <%=select_tag "admin_rights", options_for_select(["All Admin Rights", "None", "Product Edit Only"], @employee.admin_rights), class: "span12"%>
          </div>
          <div class="span2">
            <%=label_tag "poc_email", "Email:" %>
            <%= text_field_tag "poc_email", @employee.email, class: "span12" %>
          </div>
          <div class="span2">
            <%=label_tag "poc_phone_w", "Phone (w):" %>
            <%= text_field_tag "poc_phone_w", @employee.w_phone, class: "span12" %>
          </div> 
          <div class="span2">
            <%=label_tag "poc_phone_c", "Phone (c):" %>
            <%= text_field_tag "poc_phone_c", @employee.c_phone, class: "span12" %>
          </div>
      </div>
      
    </div>
  </div>  

<div class= 'label-spacer'></div> <button class="btn btn-primary btn-small" name= "action" value= "save">Save</button>

<% end %>
  




<div>Florist's Logo:</b> Max size = 75kb</>

<% if id == "new"%>
<p> "You must first "save" before adding the customer_logo"
<%else%>


<% if Image.where(florist_id: @florist.id).where(image_type: "florist").first == nil %>
  
  <%= form_tag upload_path, multipart: true, class: "dropzone",
        id: "image-upload", style: "min-height:inherit; height:200px" do %>
    <div class="fallback">
      <%= file_field_tag :file, multiple: true %>
      <%= submit_tag "Upload" %>
    </div>
    <%= hidden_field_tag "spec_id", "florist"%>
    <%= hidden_field_tag "fl_id", @florist.id%>
  <% end %>

  <script>
    Dropzone.options.imageUpload = {
    // forceFallback: true, // uncomment to test uploading without Dropzone
      dictFallbackMessage: "Choose an image to upload...",
      success: function() { window.location.reload(); }
    };
  </script>
<%end%>

<%=form_tag "/update_image" do %>

<ul class="row-fluid">
<% image = Image.where(florist_id: @florist.id).where(image_type: "florist").first%>
  <% if image != nil%>
  <li class="span4">
    <div class="thumbnail">    
    <img src="<%= image_data_path(image.id, image.extens) %>">
    </div><br><br>
 
 <div class = 'label-spacer'></div> 
        <button tabindex=-1 class="btn btn-danger btn-mini" name="delete" value= <%=image.id%>>Remove</button>
        
</li>
<%end%>
</ul>

 



<%= hidden_field_tag "spec_id", "florist"%>
<%= hidden_field_tag "fl_id", @florist.id %>

<%end%>
<%end%>

