
<h3><b>Create/Edit Florists</b></h3>
<p><a href="/florists">Back to Florists</a></p><br>

<%=error_messages_for @employee%>
<%=error_messages_for @florist%>

<% if @florist.id == nil 
  id = "new"%>
<%else
  id = @florist.id%>
<%end %>
       
<%= form_tag("/florist_updates/#{id}") do %>
         
  <div class="row-fluid">
    <div class="span12">
      <img src="/images/<%=@florist.company_logo%>" width="40" height="40" align="left"/>           
      <%= hidden_field_tag "company_logo", @florist.company_logo %>
      <%=@florist.company_logo%><br><br><br>
      <%=label_tag "name", "Florist Co. Name: *" %>
      <%= text_field_tag "name", @florist.name%>
      <%=label_tag "company_id", "Company Login ID: *" %>
      <%= text_field_tag "company_id", @florist.company_id%>             
      <%=label_tag "company_logo", "Company Logo: *" %>
      <%=label_tag "status", "Company Status: *" %>
      <%= select_tag "status", options_for_select(["Active", "Inactive"], @florist.status)%>
      <div class="row-fluid">
        <div class="span2">   
          <%=label_tag "primary_poc", "POC's Name: *" %> 
          <%= text_field_tag "primary_poc", @employee.name, class: "span12"%>
        </div>
        <div class="span2">
          <%=label_tag "username", "Username: *"%>
          <%=text_field_tag "username", @employee.username, class: "span12"%>
        </div>
        <div class="span2">
          <%=label_tag "password", "Password: *"%>
          <%=password_field_tag "password", @employee.password, class: "span12"%>
        </div>
        <div class="span2">
          <%=label_tag "password_confirmation", "Confirm P'word: *"%>
          <%=password_field_tag "password_confirmation", @employee.password_confirmation, class: "span12"%>
        </div>
        <div class="span2">
          <%=label_tag "admin_rights", "Admin Rights: *"%>
          <%=select_tag "admin_rights", options_for_select(["All Admin Rights", "None", "Product Edit Only"], @employee.admin_rights), class: "span12"%>
        </div>
      </div>
    <%=label_tag "poc_email", "Email:" %>
    <%= text_field_tag "poc_email", @employee.email %>
    <%=label_tag "poc_phone_w", "Phone (w):" %>
    <%= text_field_tag "poc_phone_w", @employee.w_phone %>
    <%=label_tag "poc_phone_c", "Phone (c):" %>
    <%= text_field_tag "poc_phone_c", @employee.c_phone %>
      <div class="row-fluid">
        <div class="span2">  
          <%=label_tag "city", "City:" %>
          <%= text_field_tag "city", @florist.city, class: "span12" %>
        </div>
        <div class="span2">  
        <%=label_tag "state", "State:" %>
        <%= text_field_tag "state", @florist.state, class: "span12" %>
        </div>
        <div class="span2">  
        <%=label_tag "zip", "Zip:" %>
        <%= text_field_tag "zip", @florist.zip, class: "span12" %>
        </div>
      </div>
    </div>
  </div>  

<div class= 'label-spacer'></div> <button name= "action" value= "save">Save</button>

<% end %>
  

<p><b>Process to Add Customer Logo</b></p>
<ol>
<li>Get Customer Logo.
<li>Name it:  "logo_" and append to it the Company Login ID you just created and then add ".jpeg" to the end</li>
  <ul><li> Example:  Customer's Name is ABC Flower Company.  You establish the company login id as: abc</li>
      <li> The file should be named: logo_abc.jpeg</li></ul>
<li>Save the file in the flowerbuds/public/images folder</li>
<li>Commit changes to github  (gitx and git push)
<li>Run "git push heroku master"
<li>Confirm that the image now shows up on heroku


