<!DOCTYPE html>
<html>
  <head>
    <title>CenterpieceFMT</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  
   <%= analytics_init if Rails.env.production? %>
  </head>
    <body>
      <div class="navbar navbar-fluid">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-th-list"></span>
            </a>
            <% image = Image.where(florist_id: session["found_florist_id"]).where(image_type: "florist").first%>
            <% if image != nil%>
            <a tabindex=-1 href= "/home" class="brand"> <img style="width: 30px; height: 30px" src="<%= image_data_path(image.id, image.extens) %>">
            <%else%>
            <a tabindex=-1 href= "/home" class="brand"> No Image for
            <%end%>
            <%= Florist.where(id: session["found_florist_id"]).first.name%></a>
          
          
          
          
          
          
          
            <div class = "nav-collapse collapse">
              <ul class="nav pull-right">

                <li><a tabindex=-1 href="/home">Home</a></li>
                
                <%spec = Specification.where(florist_id: session["found_florist_id"]).where("item_name not like 'X1Z2-PlaCeHoldEr'").where(updated_by: Employee.find(session["found_user_id"]).username).order("updated_at").last%>
                <%if spec != nil%>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Back To
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><b><%=spec.event.name%></b></li>
                    <li><a href="/event_edit/<%=spec.event.id%>">Event</a></li>
                    <li><a href="/virtual_studio/<%=spec.event.id%>">vStudio</a></li>
                    <li><a href="/generate_quote/<%=spec.event.id%>">Quote</a></li>
                    <li><a href="/design_day_details/<%=spec.event.id%>">DD Details</a></li>
                  </ul>
                <%end%>
                  
                <li><a tabindex=-1 href="/schedule_order_date">Schedule Order Date</a></li>
                <li><a tabindex=-1 href="/products">Products</a></li>                              
                <li tabindex=-1 class="dropdown">
                  <a tabindex=-1 href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Admin
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a tabindex=-1 href="/employees">Employees</a></li>
                    <li><a tabindex=-1 href="/setup">Setup</a></li>
                   </ul>             
                <li><a tabindex=-1 href="/logout">Logout <%=Employee.where(id: session["found_user_id"]).first.username%></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

<div class="container-fluid">

<%= yield %>

<br><br>
  <div class="alert alert-info">
    <h4>Tip!</h4> 
    <p> Use your "Tab" key - rather than your mouse/trackpad - to quickly navigate through the pages and input forms.  Buttons or links that have been "tabbed" to can be activated by clicking or hitting the "Enter" key.
        On the pages with "Save" buttons, when your cursor is in a white input field (other than the multi-line input fields), hitting the "Return" key will "Save" your changes.</p>
  </div>

<br><br>
<hr />
<div class="footer">
  <p>  &copy; 2013 CenterpieceFMT.  All rights reserved. <br></p>
</div>  


</div>




</body>
</html>


