<!DOCTYPE html>
<html>
  <head>
    <title>flowerbuds</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  
   <%= analytics_init if Rails.env.production? %>
  </head>
    <body>
      <div class="navbar navbar-fluid">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-th-list"></span>
            </a>
            <% image = Image.where(florist_id: session["found_florist_id"]).where(image_type: "florist").first%>
            <% if image != nil%>
            <a tabindex=-1 href= "/home" class="brand"> <img style="width: 30px; height: 30px" src="<%= image_data_path(image.id, image.extension) %>">
            <%else%>
            <a tabindex=-1 href= "/home" class="brand"> No Image for
            <%end%>
            <%= Florist.where(id: session["found_florist_id"]).first.name%></a>
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
            <div class = "nav-collapse collapse">
              <ul class="nav pull-right">

                <li><a tabindex=-1 href="/home">Home</a></li>
                <li><a tabindex=-1 href="/schedule_order_date">Schedule Order Date</a></li>
                <li><a tabindex=-1 href="/employees">Employees</a></li>
                <li><a tabindex=-1 href="/products">Products</a></li>
                <li><a tabindex=-1 href="/logout">Logout <%=Employee.where(id: session["found_user_id"]).first.username%></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

<div class="container-fluid">

<%= yield %>

</div>





</body>
</html>


