<!DOCTYPE html>
<html>
  <head>
    <title>flowerbuds</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
    <body>
      <div class="navbar navbar-fluid">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-th-list"></span>
            </a>
            <a tabindex=-1 href= "/home" class="brand"><img src="/images/<%=Florist.where(id: session["found_florist_id"]).first.company_logo%>" width="30" />
            <%= Florist.where(id: session["found_florist_id"]).first.name%></a>
            <div class = "nav-collapse collapse">
              <ul class="nav pull-right">

                <li><a tabindex=-1 href="/home">Home</a></li>
                <li><a tabindex=-1 href="/schedule_order_date">Schedule Order Date</a></li>
                <li><a tabindex=-1 href="/employees">Employees</a></li>
                <li><a tabindex=-1 href="/products">Products</a></li>
                <li><a tabindex=-1 href="/logout">Logout <%=Employee.where(id: session["found_user_id"]).first.username%></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

<div class="container-fluid">

<%= yield %>

</div>



<%=render :partial => 'layouts/ga' if Rails.env == 'production'%>

</body>
</html>


